/*------------------------------------*\
    # ACTIONS
\*------------------------------------*/

.actions-wrap {
    z-index: $actions-wrap-z-index_mq-sml;
    position: absolute;
    top: 0;
    float: none;
    width: 100%;
    height: 100%;
    @include transition(opacity $actions-animation-duration);
    overflow: hidden;
    background: $alabaster;

    @include mq(large){
        z-index: $actions-wrap-z-index;
        position: relative;
        float: right;
        top: $panel-header-stage-height;
        @include calc( height, "100% - #{$panel-header-stage-height}" );
        width: $actions-width;
        overflow: visible;
        @include transition(width $actions-animation-duration);
        box-shadow: -1px 0px 0px $silver; // border-left so width stays at zero 
    }
    
    // css transition for slide out of drawer
    &.is-hidden {
        // width: 100%;
        // height: 0;
        opacity: 0;
        visibility: hidden;

        @include mq(large){
            opacity: 1;
            visibility: visible;
            width: 0;
            @include calc( height, "100% - #{$panel-header-stage-height}" );
        }
    }
}

    .actions { // aside
        width: 100%;
        height: auto;
        padding: 20px 25px 0 20px;
        overflow-y: auto;

        @include mq(large){
            position: absolute;
            top: $panel-header-height;
            bottom: 0;
            @include transition( top 0.3s );

            // @include calc( height, "100% - #{$panel-header-height}" );
            width: $actions-width;
            
            // set height of actions panel to be 100% minus
            // height of event in header when an event is selected
            // TODO: refactor this as its too fiddly
            .item-is-selected & {
                top: $panel-header-height--item-selected;
                // @include calc( height, "100% - #{$event-height}" );
            }

            &.is-hidden {
                display: none;
            }
        }
    }
        
        // main heading in drawer panel
        .actions__heading {
            @include scut-center-transform(y);
            text-transform: uppercase;
            font-size: 22px;
            font-weight: lighter;
            color: $green;
        }

