/*------------------------------------*\
    # ANNOTATIONS
\*------------------------------------*/

// annotatios are speech bubbles containing 
// information about how to use the app
// they make use of jquery-ui "tabs" widget


// .annotations {
//     z-index: $annotations-z-index;
//     position: relative;
//     // visibility: visible;
//     opacity: 1;

//     &.is-hidden {
//         // visibility: hidden;
//         opacity: 0.5;
//         // @include transition( visibility 0s .3s );
//     }
// }

.annotation {
    z-index: $annotations-z-index;
    display: block;
    position: absolute;
    // height: auto;
    top: 10%;
    left: 10%;
    // padding: 20px 24px 18px;
    // opacity: 1;

    &.is-hidden {
        // visibility: hidden;
        // opacity: 0;
        display: none;
        // @include transition( visibility 0s .3s );
    }

    .gluru-bot {
        position: absolute;
        bottom: 20px;   
    }
}

.annotations__btn-next {
    @include transform( translateY(-50%) );
    margin-bottom: -12px;
    // display: block;
    // position: absolute;
    // @include transform( translateY(-30%) );
    // right: 25px;
}



// jquery-ui "tabs" widget css overrides
// annotation content
.annotations__tabs.ui-tabs {

    &.ui-widget {
        font-family: $base-font-stack;
    }

    &.ui-widget-content {
        border: none;
        background: transparent;
        padding: 0;
        padding-bottom: 30px;
    }

    .ui-tabs-nav {
        position: absolute;
        top: 100%;
        right: 125px;
        padding: 0;
        background: none;
        border: none;
        @include transform( translateY(-50%) );
        
        // li
        .ui-state-default,
        .ui-state-active {
            margin: 0 4px;
            padding: 0;     
        }

        .ui-tabs-anchor {
            display: inline-block;
            padding: 0;
            width: 18px;
            height: 18px;
            border-radius: 100%;
            background: transparent;
            border: 4px solid $speech-bubble__background-color;
            outline: none;
        }
    }

    .ui-tabs-panel {
        padding: 0;
    }

    .ui-state-default, 
    .ui-widget-content .ui-state-default, 
    .ui-widget-header .ui-state-default {
        border: none;
        background: transparent;

        .ui-tabs-anchor {
            background: $dusty-gray;
        }
    }

    .ui-state-active, 
    .ui-widget-content .ui-state-active, 
    .ui-widget-header .ui-state-active {
        border: none;
        background: transparent;

        .ui-tabs-anchor {
            background: $green;
        }
    }
}


