/*------------------------------------*\
# ARROW BUTTON
\*------------------------------------*/

.arrow-button-wrap__header-panel {
    z-index: 5;
    position: absolute;
    right: 0;
    width: 45px;
    height: $panel-header-height;
}

.arrow-button {
    z-index: 1;
    @include scut-center-transform(y);
    width: 28px;
    height: 28px;

    .inner {
        position: absolute;
        width: 100%;
        height: 100%;
        @include transform( rotate(45deg) );
        opacity: 1;
        border-radius: 100%;
        border: 1px solid $gray;
        cursor: pointer;
        @include transition( opacity 0.3s );

        &:before,
        &:after {
            content: "";
            display: block;
            position: absolute;
            top: 31%;
            right: 31%;
            width: 3px;
            height: 50%;
            background: $gray;

        }
        &:after {
            width: 50%;
            height: 3px;
        }
        &:hover {
            opacity: 0.5;
        }
    }

    &.-down .inner {
        @include transform( rotate(135deg) );
    }
    &.-left .inner {
        @include transform( rotate(225deg) );
    }
    &.-up .inner {
        @include transform( rotate(315deg) );
    }

}

.arrow-button__drawer {
    position: relative;
    left: -5px;
    float: left;
    margin-right: 10px;
}

.arrow-button__actions {
    right: 25px;
    // position: absolute;
    // top: 0;
}




