/*------------------------------------*\
    # AVATAR
\*------------------------------------*/

// avatars are placeholders for circular (images usually avatar 
// images) with a keyline and optional inset number or icon


.avatar {
    position: relative;

    &.-event,
    &.-current-item {
        @include scut-center-transform(y);
        left: 16px;
    }
    
    // when inside .-profile class
    .-profile & {
        top: 2px;
    }
}

    .avatar__img-wrap {
        width: 34px;
        height: 34px;
        overflow: hidden;
        border-radius: 100%;

        .-event &,
        .-current-item & {
            width: 46px;
            height: 46px;
            border: 3px solid $white;
        }

        .-current-item & {
            background: $white;
        }

        .-profile & {
            border: 3px solid $pink;
        }
    }

        .avatar__img {
            width: 100%;
        }

        .avatar__source-type {
            position: absolute;
            top: -8px;
            right: -19px;
            width: 35px;
            height: 35px;
            background: $white;
            border-radius: 100%;
            border-width: 3px;
            border-style: solid;
            border-color: $dusty-gray;

            .-critical & {
                border-color: $pink;
            }
            .-non-critical & {
                border-color: $orange;
            }
            .-now & {
                border-color: $green;
            }

        }
            .avatar__source-type-icon {
                @include scut-center-transform;
            }


