/*------------------------------------*\
# CLOSE BUTTON
\*------------------------------------*/

.close-button-wrap__header-panel {
    z-index: 5;
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: $panel-header-height;

    .search-wrap & {
        right: 37px;
    }
}

// .close-button {
//     z-index: 1;
//     @include scut-center-transform(y);
//     width: 28px;
//     height: 28px;
    

//     &.-reverse {
//         .inner {
//             border-color: $white;

//             &:before,
//             &:after {
//                 background: $white;

//             }
//         }
//     }

// }

.icon-close {
    position: absolute;
    width: 30px;
    height: 30px;
    @include transform( rotate(45deg) );
    // opacity: 1;
    // border-radius: 100%;
    // border: 1px solid $dusty-gray-dark;
    cursor: pointer;
    // @include transition( opacity 0.3s );

    // trun "close" icon into "add" icon
    &.-add {
        @include transform( rotate(0deg) );
    }

    &.-light {
        opacity: 0.7;
    }

    &:before,
    &:after {
        content: "";
        @include scut-center-transform;
        width: 3px;
        height: 75%;
        background: $dusty-gray-dark;

    }
    &:after {
        width: 75%;
        height: 3px;
    }
    // &:hover {
    //     opacity: 0.5;
    // }


    .-reverse & {
        &:before,
        &:after {
            background: $white;

        }
    }
}

.close-button__drawer,
.close-button__actions, {
    right: 15px;
}




