/*------------------------------------*\
    # CONTENT-PANEL-HEADER
\*------------------------------------*/

.content-panel-header {
    display: block;
    position: relative;
    height: $content-panel-header-height;
    overflow: hidden;
}

    .content-panel-heading {
        text-transform: uppercase;
        font-size: rem(18);
        font-weight: lighter;
        color: $pink;
    }