/*------------------------------------*\
# DEMO ONLY
\*------------------------------------*/

// these rules are for the demo only and should 
// not be included in the production release
// comment out the @import in app.scss


// // debug - show labels for current MQ breakpoint on the screen
// useful for debugging responsive css
// body:before {
//    position:fixed;
//    bottom:2px;
//    left:2px;
//    color:black;
//    z-index:9999;
//    background:rgba(255,255,255,0.75);
//    content:"small";
//    @include mq(medium) { content:"medium"; }
//    @include mq(large) { content:"large"; }
// }
// body:after {
//    position:fixed;
//    bottom:20px;
//    left: 2px;
//    color:black;
//    z-index:99999;
//    background:rgba(255,255,255,0.75);
//    @include mq(medium-and-up) { content:"medium-and-up"; }
//    @include mq(large-and-up) { content:"large-and-up"; }
// }


body {
    // allow page to scroll when page is intended to be 
    // loaded via ajax - this is for the prototype only
    // and isnt use as part of main web app
    .ajax-content & {
        overflow: visible;
    }
}


// demo only classes
// these are needed for the demo only - 
// they shouldnt make it into the app!
.demo-only {

    &.-actions-header-current-item__contents-wrap {
        // inhert height so that .media.-v-center works correctly
        // as this module needs to inherit the height of its parent
        // for the demo, tehre are multiple sets of actions header 
        // that are displayed based on teh user's selections
        // which is whe this is required for the demo but not 
        // for production
        height: inherit;
    }

    // wrapper around content inside modal box 
    // to enable display state of different 
    // sets of modal content
    &.-modal-box__content-wrap {
        display: none;
    }
}


// temp dev buttons for performing actions
.tmp-buttons {
    z-index: 9999;
    position: fixed;
    top: -25px;
    // left: 50%;
    // @include transform( translateX(-50%) );
    width: 100%;
    margin: 0 auto;
    padding: 5px 0 15px;
    text-align: center;
    @include transition( top 0.2s );

    &:hover {
        top: -2px;
    }

    // &.-files {
    //     top: 28px;
    // }
    
    .button-group {
        display: inline-block;
        position: relative;
        // float: right;
        margin-right: 5px;
        padding-right: 5px;

        &:after {
            content: "";
            position: absolute;
            right: 0;
            width: 1px;
            height: 100%;
            background: $silver;
        }

        &.is-hidden {
            display: none !important;
        }
    }
    
    .label {
        float: left;
        padding: 2px 3px;
        font-size: 10px;
        font-weight: bold;
    }

    .button {
        float: left;
        margin: 0 2px;
        border: 1px solid gray;
        padding: 1px 3px;
        background: rgba(255,255,255,0.8);
        outline: none;
        font-size: 9px;
        cursor: pointer;
        @include mq(large) {
            background: rgba(0,0,0,0.075);
        }
        &:hover {
            background: rgba(255,255,255,0.7);
            @include mq(large) {
                background: rgba(0,0,0,0.075);
            }
        }
        &:active {
            background: rgba(255,255,255,0.6);
            @include mq(large) {
                background: rgba(0,0,0,0.2);
            }
        }
    }
}

// hard-coded animation for progress bar for demo only
.progress-bar {
    @include animation-name(progress-bar);
    @include animation-duration(10s);
    @include animation-timing-function(linear);
    @include animation-iteration-count(1);
    @include animation-fill-mode(both);

    .scrollable-content__wrap.-settings & {
        @include animation-name(progress-bar-95-percent);
        @include animation-duration(.75s);
    }
}

@include keyframes(progress-bar) {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}

@include keyframes(progress-bar-95-percent) {
    0% {
        width: 0%;
    }
    100% {
        width: 5%;
    }
}



