/*------------------------------------*\
    # DISC-IMG
\*------------------------------------*/

// disc img is placeholder for circular images (usually  
// avatar images or icons) with a keyline and optional 
// inset number or icon (separate module _inset-icon.scss)


.disc-img {
    position: relative;

    // // when inside .-profile class
    // .-profile & {
    //     top: 2px;
    // }

    &.-right {
        left: auto;
        right: 50px;        
    }

     // add extra margin-right for when the 
     // inset icon is displayed within current-item
     // on 'priority-box' in actions panel 
    .-current-item & {
        &.-inset-icon {
            margin-right: 15px;
        }
    }

}

    .disc-img__img-wrap {
        position: relative;
        width: 32px;
        height: 32px;
        overflow: hidden;
        border-radius: 100%;
        
        &.-profile {
            width: 46px;
            height: 46px;
            background: $pink;
        }

        .-event &,
        .-current-item & {
            width: 46px;
            height: 46px;
            border: 3px solid $white;
            background: $white
        }
        
        // events table - people 
        .-people > & {
            width: 46px;
            height: 46px;
            background: $white
        }

        .-current-item & {
            background: $white;
        }
        
        // profile stage-nav__item - top right of screen
        .-profile & {
            background: $white;
            border: 3px solid $pink;
        }

        &.-team {
            &.-sales {
                background: $team-color-sales;
            }

            &.-marketing {
                background: $team-color-marketing;
            }

            &.-development {
                background: $team-color-development;
            }
        }

        &.-team {
            width: 30px;
            height: 30px;
        }

        &.-med {
            width: 46px;
            height: 46px;
        }

        &.-xxlrg {
            width: 130px;
            height: 130px;
        }
    }

        .disc-img__img {
            width: 100%;
        }





