/*------------------------------------*\
    # DRAWER
\*------------------------------------*/

.drawer-wrap {
    z-index: $drawer-wrap-z-index;
    position: relative;
    float: none;
    width: 100%;
    height: 200px;
    overflow: hidden;
    @include transition(height $drawer-animation-duration);
    background: $gallery;

    @include mq(large){
        float: left;
        @include transition(width $drawer-animation-duration);
        width: $drawer-width;
        height: 100%;
        visibility: visible;
    }
    
    &.is-hidden {
        // width: 100%;
        height: 0;

        @include mq(large){
            width: 0;
            height: 100%;
            // visibility: hidden;
            // @include transition(height $drawer-animation-duration, bottom 0 $drawer-animation-duration);
        }
    }
}

    .drawer {
        @include calc( height, "100% - #{$panel-header-height}" );
        width: $drawer-width;
        padding-top: 15px;
        padding-left: 4px;
        overflow-y: auto;
    }
        
        // main heading in drawer panel
        .drawer__heading {
            @extend %vertical-align-center;
            text-transform: uppercase;
            font-size: 22px;
            font-weight: lighter;
            color: $green;
        }

