/*------------------------------------*\
    # DRAWER
\*------------------------------------*/

.drawer-wrap {
    z-index: $drawer-wrap-z-index;
    position: relative;
    float: none;
    width: 100%;
    height: 200px;
    overflow: hidden;
    @include transition(height $drawer-animation-duration);
    background: $gallery;
    // add feint keyline to right side of drawer
    // to separate from stage content of the same color
    box-shadow: inset -1px 0 0px rgba($black, 0.07);

    @include mq(medium){
        float: left;
        width: $drawer-wrap-width;
        height: 100%;
        visibility: visible;
        // use graphics acceleration - not sure this works
        // for this type of animation - think its only on 
        // transforms
        // TODO: delete if not effective
        // @include transform( translate3d(0, 0, 0) );
        @include transition( 
            width $drawer-animation-duration, 
            visibility 0s 0s 
        );
    }
    
    &.is-hidden {
        // width: 100%;
        height: 0;

        @include mq(medium){
            width: 0;
            height: 100%;
            visibility: hidden;
            // animate width instantly but delay vsiibility 
            // until after width has finished
            @include transition( 
                width $drawer-animation-duration, 
                visibility 0s $drawer-animation-duration
            );
        }
    }
}

    .drawer {
        @include calc( height, "100% - #{$panel-header-height}" );
        width: $drawer-width;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: $drawer-padding-left;
        overflow-y: auto;
    }
        
        // main heading in drawer panel
        .drawer__heading-wrap {
            @include scut-center-transform(y);
        }

