/*------------------------------------*\
    # EVENT
\*------------------------------------*/
// events sit within the timeline.
// a single event container also as a header
// at the top of the actions panel
// when an event is selected 


.event-group {
    position: relative;
}

.event-group-heading {
    position: relative;
    width: 192px;
    height: 52px;
    margin: 40px 0 40px ($event-time-width + ($event-icon-wrap-width / 2)); // align left edge with center of icon
    background-color: $dusty-gray;
    border-radius: 31px;
    border: 6px solid #fff;
    @include transform( translateX(-50%) ); // pull back 50% of width to center with icon

    &:nth-of-type(1) {
        margin-top: 0;
    }

    .-split-view & {
        margin: 0 auto 25px;
        @include transform( none );
    }

    .-text {
        @include scut-center-transform;
        font-size: rem(16);
        color: $white;
        line-height: 50px;
        text-transform: uppercase;
        font-weight: lighter;
    }
}

    .event-wrap {
        position: relative;
        margin-bottom: 30px;
        white-space: nowrap;
        font-size: 0; // remove space between inline-block els

        .-split-view & {
            margin-bottom: 50px;
        }
    }
        
        .event-time, 
        .event-icon-wrap, 
        .priority-box.-event, 
        {
            position: relative;
            display: inline-block;
            vertical-align: middle;

            .-split-view & {
                display: block;
                margin: 0 auto;
            }
        }

        .event-time {
            width: $event-time-width;
            height: 20px;
            font-size: rem(20);
            font-weight: lighter;
            color: $dove-gray;
            text-transform: uppercase;
            text-align: center;

            .-split-view & {
                position: absolute;
                top: 24px;
                right: 50%;
                width: 200px;
            }
        }

        .event-icon-wrap {
            width: $event-icon-wrap-width;
            height: $event-icon-wrap-height;
            background-color: $dusty-gray;
            border-radius: 100%;
            margin-right: 35px;
            border: 6px solid $white;

            &.-moments {
                // @include use-sprite("icon-nav-moments");
                // display: inline-block;
                // 
            }
        }

        .event-icon {
            @include scut-center-transform(y);
            left: 0;
            right: 0;
            margin: 0 auto;
        }




