/*------------------------------------*\
    # EVENT
\*------------------------------------*/
// events sit within the timeline.
// a single event container also as a header
// at the top of the actions panel
// when an event is selected 


.event-group {
    position: relative;
}

.event-group-heading {
    position: relative;
    width: 192px;
    height: 52px;
    margin: 40px 0 40px ($event-time-width + ($event-icon-wrap-width / 2)); // align left edge with center of icon
    background-color: $dusty-gray;
    border-radius: 31px;
    border: 6px solid #fff;
    @include transform( translateX(-50%) ); // pull back 50% of width to center with icon

    &:nth-of-type(1) {
        margin-top: 0;
    }

    .-split-view & {
        margin: 0 auto 25px;
        @include transform( none );
    }

    .-text {
        @include scut-center-transform;
        font-size: rem(16);
        color: $white;
        line-height: 50px;
        text-transform: uppercase;
        font-weight: lighter;
    }
}

    .event-wrap {
        position: relative;
        margin-bottom: 30px;
        white-space: nowrap;
        font-size: 0; // remove space between inline-block els

        .-split-view & {
            margin-bottom: 50px;
        }
    }
        
        .event-time, 
        .event-icon-wrap, 
        .event, 
        {
            position: relative;
            display: inline-block;
            vertical-align: middle;

            .-split-view & {
                display: block;
                margin: 0 auto;
            }
        }

        .event-time {
            width: $event-time-width;
            height: 20px;
            font-size: rem(20);
            font-weight: lighter;
            color: $dove-gray;
            text-transform: uppercase;
            text-align: center;

            .-split-view & {
                position: absolute;
                top: 24px;
                right: 50%;
                width: 200px;
            }
        }

        .event-icon-wrap {
            width: $event-icon-wrap-width;
            height: $event-icon-wrap-height;
            background-color: $dusty-gray;
            border-radius: 100%;
            margin-right: 35px;
            border: 6px solid $white;


            &.-moments {
                // @include use-sprite("icon-nav-moments");
                // display: inline-block;
                // 
            }
        }

        .event-icon {
            @include scut-center-transform(y);
            left: 0;
            right: 0;
            margin: 0 auto;
        }

        .event {
            height: $event-height;
            // width: 500px;
            width: 50%;
            max-width: 500px;
            min-width: 400px;
            background: $dusty-gray;
            border-radius: 15px;
            
            &.-critical {
                background: $pink;
            }
            &.-non-critical {
                background: $orange;
            }
            &.-now {
                background: $green;
            }

            // add hover when inside event-wrap 
            // (must be in timeline - not in actions header)
            .event-wrap & {
                @include transition(transform 0.2s);

                &:hover {
                    // box-shadow: 0px 0px 15px $dusty-gray;
                    @include transform( translateX(3px) );
                }
            }
            
            // selected event
            .is-selected & {
                @include transform( translateX(30px) !important );
                
                // when timeline is split, remove animations
                .-split-view & {
                    @include transform( none !important );
                }
            }

            // the triangle that points to the time
            &:after {
                content: "";
                @include scut-triangle(left, $event-arrow-height $event-arrow-width, $dusty-gray);
                @include scut-center-transform(y);
                left: -20px;
            }

            // set color of triangles when inside specific class 
            &.-critical:after {
                border-right-color: $pink;
            }
            &.-non-critical:after {
                border-right-color: $orange;
            }
            &.-now:after {
                border-right-color: $green;
            }
        
            // when timeline is split, remove animations
            .-split-view & {
                width: 80%;
                min-width: 320px;
                max-width: 400px;
                height: $event-height-split-view;
                margin-top: 20px;
                box-shadow: 
                    0px 10px 0px $white, 
                    // 0px -25px 0px $white
                    ;
                @include transition( none );

                &:hover {
                    @include transform( none );
                }

                // remove triangle
                &:after {
                    // content: none;
                    @include scut-triangle(up, $event-arrow-width $event-arrow-height, $dusty-gray);
                    @include scut-center-transform(x);
                    top: -$event-arrow-height;
                }

                // set color of triangles when inside specific class 
                &.-critical:after {
                    border-bottom-color: $pink;
                }
                &.-non-critical:after {
                    border-bottom-color: $orange;
                }
                &.-now:after {
                    border-bottom-color: $green;
                }
            }

            
            // config for the header panel in actions panel
            // for timeline section
            &.actions--current-file {
                position: absolute; // position over the top of the actions header
                @include calc( width, "#{$actions-width} + 20px" );
                top: -( ($event-height - $panel-header-height) / 2);
                left: 20px;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
                @include transition( left $actions-animation-duration );

                .actions-is-open & {
                    left: -20px;
                }

                &.is-hidden {
                    display: none;
                }
            }
        }

            // the text content of the event
            .event__text-wrap {
                @include scut-center-transform(y);
                left: 95px;
                right: 50px;
                max-height: 80px;
                overflow: hidden;
                white-space: normal;
                color: $white;
                font-size: rem(16);
            }



