/*------------------------------------*\
    # EVENT
\*------------------------------------*/
// events sit within the timeline.
// a single event container also as a header
// at the top of the actions panel
// when an event is selected 


.event-group {
    position: relative;
}

.event-group-heading {
    position: relative;
    width: 192px;
    height: 52px;
    margin: 40px 0 40px ($event-time-width + ($event-icon-wrap-width / 2)); // align left edge with center of icon
    background-color: $dusty-gray;
    border-radius: 31px;
    border: 6px solid #fff;
    // pull back 50% of width to center with icon
    @include transform( translateX(-50%) ); 
    
    // remove margin-top from first occurance 
    // of .event-group-heading
    &:first-child {
        margin-top: 0;
    }

    .-split-view & {
        margin: 0 auto 25px;
        @include transform( none );
    }

}

    .event-group-heading__text-wrap {
        @include scut-center-transform;
    }

.event-wrap {
    position: relative;
    margin-bottom: 30px;
    white-space: nowrap;
    font-size: 0; // remove space between inline-block els

    .-split-view & {
        margin-bottom: 50px;
    }
}
    
    .event-time, 
    .event-icon-wrap, 
    .priority-box.-event, 
    {
        position: relative;
        display: inline-block;
        vertical-align: middle;

        .-split-view & {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    }

    .event-time {
        width: $event-time-width;
        height: 20px;
        padding-right: 18px;
        text-align: right;

        .-split-view & {
            position: absolute;
            top: 17px;
            @include calc( right, "50% + 18px" );
            width: 200px;
        }
    }

    .event-icon-wrap {
        width: $event-icon-wrap-width;
        height: $event-icon-wrap-height;
        background-color: $dusty-gray;
        border-radius: 100%;
        margin-right: 35px;
        border: 6px solid $white;
    }

    .event-icon {
        @include scut-center-transform(y);
        left: 0;
        right: 0;
        margin: 0 auto;
    }

.event-table-wrap {
    position: relative;
    left: 212px;
    width: 50%;
    max-width: 500px;
    min-width: 400px;
    margin-top: 10px;
    background: $white;
    @include transition(transform 0.2s);

    // selected event
    .is-selected & {
        @include transform( translateX(30px) !important );
        
        // when timeline is split, remove animations
        .-split-view & {
            @include transform( none !important );
        }
    }

    .-split-view & {
        left: auto;
        width: 80%;
        min-width: 320px;
        max-width: 400px;
        border-bottom: 6px solid $white;
        margin-left: auto;
        margin-right: auto;
    }
}



