/*------------------------------------*\
    # EVENT NAV
\*------------------------------------*/

.event-nav {
    @include scut-center-transform(y);
    right: 0;
    // set 'hit' area for hover
    padding: 40px 8px 40px 30px;

    .dot {
        width: 5px;
        height: 5px;
        background: white;
        border-radius: 100%;
        margin: 3px;
    }
    
    // show sub nav options on:
    // - hover, or 
    // - when inside is-selected class, 
    &:hover,
    .is-selected & {
        .event-nav__list {
            right: 20px;
            visibility: visible;
            opacity: 1;
            padding-left: 12px;
            @include transition(
                right 0.3s, 
                visibility 0.3s, 
                opacity 0.3s 0.1s
            );
        }
    }
}

    .event-nav__more {
        @include scut-center-transform(y);
        right: 8px;
    }

    .event-nav__list { // ul
        @include scut-center-transform(y);
        right: -10px;
        // padding-right: 5px;
        padding: 7px;
        background: $dusty-gray;
        visibility: hidden;
        opacity: 0;
        white-space: nowrap;
        font-size: 0;
        // duration, delay
        @include transition(
            right 0.3s, 
            visibility 0.3s, 
            opacity 0.1s
        );

        .-critical & {
            background: $pink;
        }
        .-non-critical & {
            background: $orange;
        }
        .-now & {
            background: $green;
        }
        .-daily-digest & {
            background: $blue;
        }
    }

        .event-nav__item { // li
            display: inline-block;
            cursor: pointer;
            margin: 0 3px;
        }






