/*------------------------------------*\
# GRID
\*------------------------------------*/

// styles related to css grid

// row - neat grid
.row {
    @include row;

    &.-pad-v {
        padding: 12px 0;
    }

    // the header row in setup forms
    &.-grid-header {
        height: 26px;
    }

    // the header row in setup forms
    &.-form {
        height: $form-el__height--row;
        margin-bottom: 10px;
    }

}

// output sets of classes for grid cols
@include mq(medium) {

    @for $i from 1 through 12 {
        @include make-col-class(med, $i);
    }
}

@include mq(large) {

    @for $i from 1 through 12 {
        @include make-col-class(lrg, $i);
    }
}
