/*------------------------------------*\
# HEADER NAV
\*------------------------------------*/

// buttons that sit within headers such as timeline > recent, daily-digest
// setup process > create account, connect sources

.header-nav { // nav
    display: inline-block;
    height: 100%;

    &.-setup {
        padding-left: 10px;
    }
}

    .header-nav__list { // ul
        height: inherit;
        margin: 0;
        font-size: 0;
    }

        .header-nav__item { // li
            display: inline-block;
            height: inherit;
        }

            .header-nav__link { // a
                display: block;
                position: relative;
                height: inherit;
                padding: 0 20px;
                text-decoration: none;
                @include transition( color .3s, box-shadow .3s );
                
                .-setup & {
                    padding: 0 15px;
                }

                &:not(.is-complete):not(.is-selected):hover {
                    box-shadow: inset 0px -4px 0px $dove-gray;

                    .header-nav__text {
                        color: $black;
                    }

                    .header-nav__icon.-num {
                        border-color: $dove-gray;
                        color: $dove-gray;
                    }
                }

                // &.is-complete {
                //     box-shadow: inset 0px -4px 0px $green;
                // }

                &.is-selected {
                    box-shadow: inset 0px -4px 0px $pink;

                    .header-nav__icon {
                        &.-recent {
                            @include use-sprite("icon-sml__clock--pink");
                        }

                        &.-daily-digest {
                            @include use-sprite("icon-sml__calendar--pink");
                        }
                    }
                }
            }

                .header-nav__icon {
                    @include transform( translateY(-2px) );
                    @include transition( color .3s, border-color .3s );
                    margin-right: -2px;

                    &.-recent {
                        @include use-sprite("icon-sml__clock");
                        margin-right: -4px;
                    }

                    &.-daily-digest {
                        @include use-sprite("icon-sml__calendar");
                    }

                    &.-num {
                        display: block;
                        position: relative;
                        width: 26px;
                        height: 26px;
                        border-radius: 100%;
                        border: 2px solid $alto;
                        line-height: 22px;

                        .is-complete & {
                            border-color: $green;
                        }

                        .is-selected & {
                            border-color: $pink;
                        }
                    }
                }




