/*------------------------------------*\
# HEADER NAV
\*------------------------------------*/

// buttons that sit within headers such as timeline > recent, daily-digest
// setup process > create account, connect sources

.header-nav { // nav
    display: inline-block;
    height: 100%;

    &.-setup {
        padding-left: 10px;
    }
}

    .header-nav__list { // ul
        height: inherit;
        margin: 0;
        font-size: 0;
    }

        .header-nav__item { // li
            display: inline-block;
            height: inherit;
            
            // set custom padding for first item in 
            // header-nav to match padding on other 
            // headers and stage
            &:first-child .header-nav__link {
                padding-left: $panel-header-padding-left - 3px;
            }
        }

            .header-nav__link { // a
                display: block;
                position: relative;
                height: inherit;
                padding: 0 15px;
                // todo: look into why underline is applied to this 
                // link in angular despite the setting below
                // for now, added !imprtant which clears the underline
                text-decoration: none !important; 
                @include transition( color .3s, box-shadow .3s );
                
                .-setup & {
                    padding: 0 15px;
                }

                &:not(.is-complete):not(.is-selected):hover {
                    box-shadow: inset 0px -4px 0px $silver;

                    .header-nav__text {
                        color: $black;
                    }

                    .header-nav__icon.-num {
                        border-color: $dove-gray;
                        color: $dove-gray;
                    }

                    .header-nav__icon {
                        opacity: 1;
                    }
                    
                }

                // &.is-complete {
                //     box-shadow: inset 0px -4px 0px $green;
                // }

                &.is-selected {
                    box-shadow: inset 0px -4px 0px $pink;

                    .header-nav__icon {
                        opacity: 1;
                        &.-recent {
                            @include use-sprite("icon-sml__clock--pink");
                        }

                        &.-daily-digest {
                            // @include use-sprite("icon-sml__calendar--pink");
                            @include use-sprite("icon-sml__coffee--pink");
                        }

                        &.-profile {
                            @include use-sprite("icon-sml__person--pink");
                        }

                        &.-sources {
                            @include use-sprite("icon-sml__sources--pink");
                        }

                        &.-autopush {
                            @include use-sprite("icon-sml__autopush--pink");
                        }

                        &.-teams {
                            @include use-sprite("icon-sml__people--pink");
                        }

                        &.-notifications {
                            @include use-sprite("icon-sml__notifications--pink");
                        }

                        &.-security {
                            @include use-sprite("icon-sml__security--pink");
                        }

                        &.-billing {
                            @include use-sprite("icon-sml__billing--pink");
                        }

                        &.-support {
                            @include use-sprite("icon-sml__support--pink");
                        }
                    }
                }
            }
                
                // initial margin values to mkae it easier to 
                // set custom ones for the icons that need it
                $margin-right:  -4px;
                $margin-top:    2px;
                .header-nav__icon {
                    @include transform( translateY(-2px) );
                    @include transition( color .3s, border-color .3s, opacity .3s );
                    margin: $margin-top $margin-right 0 0;
                    opacity: 0.7;

                    &.-recent {
                        @include use-sprite("icon-sml__clock");
                        margin-right: $margin-right - 1px;
                    }

                    &.-daily-digest {
                        // @include use-sprite("icon-sml__calendar");
                        @include use-sprite("icon-sml__coffee");
                        margin-top: $margin-top - 4px;
                        // margin-right: $margin-right + 1px;
                    }

                    &.-profile {
                        @include use-sprite("icon-sml__person");
                    }

                    &.-sources {
                        @include use-sprite("icon-sml__sources");
                        margin-top: $margin-top - 2px;
                    }
                    
                    &.-autopush {
                        @include use-sprite("icon-sml__autopush");
                        margin-right: $margin-right + 2px;
                    }

                    &.-teams {
                        @include use-sprite("icon-sml__people");
                        margin-right: $margin-right + 3px;
                    }

                    &.-notifications {
                        @include use-sprite("icon-sml__notifications");
                    }

                    &.-security {
                        @include use-sprite("icon-sml__security");
                    }

                    &.-billing {
                        @include use-sprite("icon-sml__billing");
                        margin-right: $margin-right + 2px;
                    }

                    &.-support {
                        @include use-sprite("icon-sml__support");
                        margin-right: $margin-right - 1px;
                    }
                    
                    // numbers for process style nav - e.g. setup process
                    &.-num {
                        display: block;
                        position: relative;
                        width: 26px;
                        height: 26px;
                        border-radius: 100%;
                        border: 2px solid $alto;
                        line-height: 22px;
                        margin: 2px -4px 0 0;

                        .is-complete & {
                            border-color: $green;
                        }

                        .is-selected & {
                            border-color: $pink;
                        }
                    }
                }




