/*------------------------------------*\
# HEADER NAV
\*------------------------------------*/

// buttons that sit within headers such as timeline > recent, future
// setup process > create account, connect sources

.header-nav { // nav
    // @include scut-center-transform(y);
    // right: 20px;
    display: inline-block;
    height: 100%;
}

    .header-nav__list { // ul
        height: inherit;
        font-size: 0;
    }

        .header-nav__item { // li
            display: inline-block;
            height: inherit;
        }

            .header-nav__link { // a
                display: block;
                position: relative;
                height: inherit;
                padding: 0 20px;
                text-decoration: none;
                @include transition( all 0.3s );

                &:hover {
                    box-shadow: inset 0px -2px 0px $dove-gray;

                    .header-nav__text {
                        color: $black;
                    }
                }

                &.is-selected {
                    // background: $gallery;
                    box-shadow: inset 0px -2px 0px $pink;

                    .header-nav__text {
                        color: $pink;
                    }
                    .header-nav__icon {
                        &.-recent {
                            @include use-sprite("icon-clock--pink");
                        }

                        &.-future {
                            @include use-sprite("icon-calendar--pink");
                        }
                    }
                }
            }

                .header-nav__icon,
                .header-nav__text {
                    position: relative;
                    display: inline-block !important;
                    vertical-align: middle;
                }

                .header-nav__icon {
                    @include transform( translateY(-2px) );
                    margin-right: 6px;

                    &.-recent {
                        @include use-sprite("icon-clock--gray");
                    }

                    &.-future {
                        @include use-sprite("icon-calendar--gray");
                        margin-right: 8px;
                    }
                }

                .header-nav__text {
                    font-size: rem(16);
                    color: $dove-gray;
                    text-transform: uppercase;
                    // font-weight: lighter;
                    line-height: $panel-header-height + 2;
                    @include transition( all 0.3s );
                }


                // box-shadow: inset 0px -1px 0px black;


