/*------------------------------------*\
    # HIERARCHY
\*------------------------------------*/

// list of locations in actions panel footprint 

.hierarchy__list {
    margin: 0;
    white-space: nowrap;

    .actions & {
        white-space: normal;
    }
}

.hierarchy__item { // ul
    // margin-top: -4px;
    // @extend %line-height__150percent;

    .panel-header.-location & {
        margin-top: 0;
    }
}

    .hierarchy__item { // li
        display: inline-block;
        // float: left;
        position: relative;
        padding: 0 19px 0 0;

        &:after {
            content: "";
            @include use-sprite("icon-xsml__chevron");
            position: absolute;
            top: 3px;
            right: 2px;
            opacity: 0.5;

            .panel-header.-location & {
                top: 4px;
            }
        }

        &:last-child {
            &:after {
                content: none;
            }
        }
    }
