/*------------------------------------*\
    # ICON BUTTON
\*------------------------------------*/

// the grey icons at the top of the ui
// also used for close buttons in actions and drawer

.icon-button {
    position: relative;
    width: 30px;
    height: 30px;
    overflow: visible !important;
    opacity: 0.5;
    cursor: pointer;
    @include transition( opacity 0.3s );

    &.-center-transform {
        @include scut-center-transform(y);
    }

    &.-right {
        position: absolute;
        right: 14px;
    }

    &.-infinity{
        @include use-sprite("icon__infinityview--dark");

        &.is-split-view{
            @include use-sprite("icon__splitview--dark");
        }
    }

    &.-sort {
        @include use-sprite("icon__sort--dark");
    }

    &.-drawer {
        @include use-sprite("icon__toggledrawer--dark");
    }

    &.-actions {
        @include use-sprite("icon__toggleactions--dark");
    }

    &.-search {
        @include use-sprite("icon__search--dark");
    }

    &.-now {
        @include use-sprite("icon__now--dark");
    }

    &:after {
        content: "";
        position: absolute;
        top: -2px;
        left: -2px;
        right: -2px;
        bottom: -2px;
        border: 1px solid rgba($dusty-gray, 0.6);
        border-radius: 100%;
        opacity: 0;
        @include transition( opacity 0.3s );

    }

    &.-reverse:after {
        border-color: rgba($white, 0.6);
    }


    &:hover,
    &.is-selected,
    {
        opacity: 1;

        &:after {
            background: rgba($black, .03);
            opacity: 1;
        }
    }

    &.is-disabled {
        opacity: 0.13;
        cursor: default;
    }

    &:active {
        &:after {
            background: rgba($black, .09);
        }
    }
}

