/*------------------------------------*\
# INFO PANEL
\*------------------------------------*/

.info-panel {
    position: relative;
    // width: 1050px;
    height: 800px;
    // margin-top: 30px;
    // padding: 50px $stage-padding-left;
    padding: 50px 3.5%;
    // margin-left: 20px;
    // margin-right: auto;
    // background: $white;
    // box-shadow: 0px 0px 30px rgba($dusty-gray, .5);
    // border-radius: 15px;
    // 
    // @include outer-container;
    // background: red;
    // 
    

}

    // .info-panel-header__text-pos {
    //     @extend %scut-center-transform-y;
    //     position: relative;
    //     text-align: center;
    // }

    .info-panel__aside {
        // background: green;
        // height: 800px;
        @include span-columns(4);
        @include clearfix;
    }

    .info-panel__content {
        // background: blue;
        // height: 800px;
        @include span-columns(8);
        @include clearfix;
        padding-top: 5px;
        
        > .info-panel__heading-text {
            z-index: 3333;
            margin-top: 0;
        }
    }

        .info-panel__content-block {
            position: relative;
            overflow: auto;
            margin-top: 40px;

            &.-narrow {
                width: 280px;
            }

            &.-wide {
                width: 600px;
            }
        }
