/*------------------------------------*\
    # MAIN-NAV
\*------------------------------------*/

.main-nav {
    z-index: $main-nav-z-index;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100px;
    background: $pink;
    overflow: auto;

    @include mq(medium){
        position: relative;
        @include clearfix;
        float: left;
        width: $main-nav-width;
        height: 100%;
        overflow: hidden;
        // box-shadow: 3px 0px 7px $dusty-gray;
    }
}

    .main-nav__logo-wrap {
        position: relative;
        height: $panel-header-stage-height - 2px;
    }

        .main-nav__logo {
            float: left;
            @include use-sprite("gluru-logo");
            overflow: visible;

            @include mq(medium){
                position: relative;
                top: 15px;
                float: none;
                margin: 0 auto;
            }

            &:after {
                content: "beta";
                display: block;
                position: absolute;
                right: -3px;
                width: 40px;
                height: 16px;
                background: black;
                border-radius: 11px;
                color: white;
                font-size: 11px;
                font-weight: bold;
                text-align: center;
                bottom: -4px;                
            }
        }

    .main-nav__list { // ul
    }

        .main-nav__item { // li
            position: relative;
            float: left;
            
            @include mq(medium){
                float: none;
                margin-bottom: 15px;

                &.-divider {
                    margin-bottom: 30px;
                    padding-bottom: 15px;

                    &:after {
                        content: "";
                        position: absolute;
                        bottom: 0px;
                        left: 0;
                        right: 0;
                        height: 2px;
                        background: rgba($pink-lighter, 1);
                    }
                }
            }
        }

            .main-nav__link { // a
                position: relative;
                margin: 0 auto;
                text-indent: -9999px;

                &.-add {
                    @include use-sprite("icon__nav-add--green");
                    @include transition( transform 0.3s );

                    &.is-selected {
                        @include transform( rotate(45deg) );
                    }
                }
                &.-moments {    @include use-sprite("icon__moments--white"); }
                &.-files {      @include use-sprite("icon__files--white"); }
                &.-people {     @include use-sprite("icon__people--white"); }
                &.-projects {   @include use-sprite("icon__projects--white"); }
                &.-auto-push {  @include use-sprite("icon__autopush--white"); }
                &.-settings {   @include use-sprite("icon__settings--white"); }
                
                // repeat class to increase specificity to override overflow set by sprite mixin above
                &.main-nav__link {
                    overflow: visible;
                }

                &.-highlight {
                    &:after {
                        content: "";
                        display: block;
                        position: absolute;
                        top: -5px;
                        bottom: -5px;
                        left: -5px;
                        right: -5px;
                        margin: auto;
                        border: 2px solid white;
                        border-radius: 100%;
                        opacity: 0;
                        @include transition(all 0.4s);
                    }

                    
                    &:hover:after {
                        opacity: 1;
                    }
                    &.is-selected:after {
                        opacity: 1;
                    }
                }
            }

