/*------------------------------------*\
    # MAIN-CONTAINER
\*------------------------------------*/

.main-container {
	// min-width: 320px;
	// min-width: 500px;
	// a wide min-width doesnt work here as 
	// it breaks horizontal scrolling 
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    overflow: hidden;
}
