/*------------------------------------*\
    # MAIN-NAV
\*------------------------------------*/

.main-nav {
    z-index: $main-nav-z-index;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100px;
    background: $pink;
    overflow: auto;

    @include mq(large){
        position: relative;
        @include clearfix;
        float: left;
        width: $main-nav-width;
        height: 100%;
        overflow: hidden;
        // box-shadow: 3px 0px 7px $dusty-gray;
    }
}

    .main-nav__logo-wrap {
        position: relative;
        height: $panel-header-stage-height - 2px;
    }

        .main-nav__logo {
            float: left;
            @include use-sprite("gluru-logo");

            @include mq(large){
                position: relative;
                top: 17px;
                float: none;
                margin: 0 auto;
            }
        }

    .main-nav__list { // ul
    }

        .main-nav__item { // li
            position: relative;
            float: left;
            
            @include mq(large){
                float: none;
                margin-bottom: 15px;
                &.-primary { // items above the divider
                    // margin-bottom: 15px;
                }
                &.-divider {
                    margin-bottom: 30px;
                    padding-bottom: 15px;
                    // border-bottom: 1px solid $pink-darker;

                    &:after {
                        content: "";
                        position: absolute;
                        bottom: 0px;
                        left: 0;
                        right: 0;
                        height: 2px;
                        background: rgba($pink-lighter, 1);
                    }
                }
            }
        }

            .main-nav__link { // a
                position: relative;
                margin: 0 auto;
                text-indent: -9999px;

                &.-avatar {     @include use-sprite("tmp-nav-avatar"); }
                &.-add {        @include use-sprite("icon-nav-add"); }
                &.-search {     @include use-sprite("icon-nav-search"); }
                &.-files {      @include use-sprite("icon-nav-files"); }
                &.-moments {    @include use-sprite("icon-nav-moments"); }
                &.-people {     @include use-sprite("icon-nav-people"); }
                &.-projects {   @include use-sprite("icon-nav-projects"); }
                &.-auto-push {  @include use-sprite("icon-nav-auto-push"); }
                &.-settings {   @include use-sprite("icon-nav-settings"); }
                
                // repeat class to increase specificity to override overflow set by sprite mixin above
                &.main-nav__link {
                    overflow: visible;
                }

                &.-highlight {
                    &:after {
                        content: "";
                        display: block;
                        position: absolute;
                        top: -5px;
                        bottom: -5px;
                        left: -5px;
                        right: -5px;
                        margin: auto;
                        border: 2px solid white;
                        border-radius: 100%;
                        opacity: 0;
                        @include transition(all 0.4s);
                    }

                    
                    &:hover:after {
                        opacity: 1;
                    }
                    &.is-selected:after {
                        // top: -5px;
                        // bottom: -5px;
                        // left: -5px;
                        // right: -5px;
                        opacity: 1;
                    }
                }
            }

