/*------------------------------------*\
# MEDIA OBJECT
\*------------------------------------*/

.media {
    overflow: hidden;
    
    // make height the same as container when inside 
    // '-v-center' class present (this vrtically centers 
    // the content - media__body & media__img)
    // to work, the parent must have a 'height' value
    &.-v-center {
        height: inherit;
    }
    
    // nested media object
    .media {
        height: 24px;
    }
}

    .media__body {
        overflow: hidden;
        padding-top: 2px;

        &.-v-center {
            padding-top: 0;
        }
    }

    .media__img {
        float: left;
        margin-right: 10px;
        display: block;

        .options-list & {
            margin-right: 12px;
        }

        &.-right {
            float: right;
            margin-right: 0;
            margin-left: 10px;
        }
            
        // when inside actions, add margin to left 
        // for small icons in related files etc
        .actions & {
            margin-left: 4px;
        }
        
        // set width for media__img for all items inside drawer
        // due to teams dics being smaller than avatar discs
        .drawer & {
            width: 34px;
        }

        // add margin to icons when inside table
        .table & {
            margin-left: 10px;
            margin-right: 20px;
        }
    }

    .media__body,
    .media__img,
    {
        // vertically center media__body & media__img 
        // when inside '-v-center' class 
        // to work, the parent of '.media' must have a 'height' value
        .-v-center & {
            @include scut-center-transform(y);
            position: relative;
        }
    }

