/*------------------------------------*\
# MEDIA OBJECT
\*------------------------------------*/

/* ====== media ====== */
// .media {
//     margin:10px;
// }
.media {
    overflow: hidden;
}
.media__body {
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: rem(13);

    // heading inside file explorer source panel header
    &.-location-text {
        font-size: rem(18);
        font-weight: lighter;
        line-height: $lrg-icon-height;
        white-space: nowrap;
    }
}
.media__img {
    float: left;
    margin-right: 10px;
    display: block;

    .options-list & {
        margin-left: 20px;
    }
}
.media__img--right {
    float: right;
    margin-right: 0;
    margin-left: 10px;
}


.media__body--table-text {
    line-height: $sml-icon-height;
}

