/*------------------------------------*\
# MEDIA OBJECT
\*------------------------------------*/

.media {
    overflow: hidden;
    
    // make height the same as container when inside 
    // '-v-center' class present (this vrtically centers 
    // the content - media__body & media__img)
    // to work, the parent must have a 'height' value
    &.-v-center {
        height: inherit;
    }
    
    // nested media object
    .media {
        // height: 24px;

        // inside priority box
        .priority-box & {
            height: 50px;
        }
    }
}

    .media__body {
        overflow: hidden;

        .-v-center & {
            // TODO: not sure this is being used? 
            // padding-top: 0;
        }
        
        // sources loader in setup section
        .sources__col--action & {
            overflow: visible;
        }
        
        // resolve issue in firefox with header-nav__link
        // where if no float set on media__body, the icon 
        // in media__img reduces the width of media__body
        // (by the same width as media__icon) so reults in 
        // the text being truncated
        // TODO: investigate this further
        &.-float-left {
            float: left;
        }
    }

    .media__img {
        float: left;
        margin-right: 10px;

        .options-list & {
            margin-right: 12px;
        }

        &.-right {
            float: right;
            margin-right: 0;
            margin-left: 10px;

            &.-lrg-margin {
                margin-left: 40px;
            }
            
            // very custom class to pull sort icon back from right 
            // edge to accomodate the pseudo el inside the icon 
            // class that extends 2px outisde of its parent resulting 
            // in the circle edge being obscured
            // TODO: a solution is to export the icons stage nav icons
            // at the same size as the psuedo el but then icons wold 
            // not be consistent sizes
            &.-sort-icon {
                margin-right: 2px;
            }
        }

        // set width for media__img for all items inside drawer
        // due to teams dics being smaller than avatar discs
        .drawer & {
            width: 34px;
        }

        // add margin to icons when inside table
        .table & {
            margin-left: 10px;
            margin-right: 20px;
            
            // when inside daily-digest section
            .daily-digest & {
                margin-right: 23px;
            }
        }
        
        // add custom margin to icons when inside sources row
        // in setup process - add sources
        .sources__row & {
            margin-right: 20px;
        }
        
        &:not(.-right) {
            // add extra margin (not on media-img -right) to accomodate 
            // inset icons priority panels for 
            // - event
            // - daily-digest // removed as meeting now doesnt have inset icon
            .-event &,
            // .-daily-digest &,
            {
                margin-right: 26px;
            }

            // add extra margin to right of icon in daily-digest 
            .-daily-digest.-collapsable & {
                margin-right: 16px;
            }
        }
        
        // add margin for media 
        .-daily-digest.-collapsable & {
            // text inside media__img inside daily-digest 
            // collapsble 'priority-box' 
            &.-meeting {
                width: 40%;
                margin-left: 5%;
            }
        }
            
        .daily-digest .table__col.-file-name & {
            margin-left: 19px;
        }
        
        // daily-digest coffee icon
        .panel-header.-daily-digest & {
            margin-right: 27px;
        }
    }

    .media__body,
    .media__img,
    {
        // vertically center media__body & media__img 
        // when inside '-v-center' class 
        // to work, the parent of '.media' must have a 'height' value
        .-v-center & {
            @include scut-center-transform(y);
            position: relative;
        }
    }

