/*------------------------------------*\
    # MODAL
\*------------------------------------*/

.modal {
	z-index: $modal-z-index;
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    overflow: hidden;
	@include transition( visibility 0s );

	&.is-hidden {
    	visibility: hidden;
		@include transition( visibility 0s .3s );

		.modal__screen,
		.modal__box,
		{
			opacity: 0;
		}

		.modal__screen {
			// delay opacity fade of screen by .15s
	    	@include transition( opacity .15s .15s );
		}

		.modal__box {
			// no delay on box
	    	@include transition( opacity .15s );
		}
	}


}

	.modal__screen {
	    position: absolute;
	    left: 0px;
	    top: 0px;
	    right: 0px;
	    bottom: 0px;
	    overflow: hidden;
	    background: $white;
	    opacity: 0.75;
	    @include transition( opacity .15s );

	    &.-tour {
	    	background: $black;
	    	opacity: 0.2;
	    }
	}

	.modal__box {
		@extend %scut-center-transform;
		top: 45%;
		width: 500px;
		height: 300px;
	    background: $white;
	    border: 1px solid $alto;
	    border-radius: 10px;
	    box-shadow: 0px 0px 15px rgba($black, .3);
		// delay opacity fade of box by .15s
	    @include transition( opacity .15s .15s );

	    &.-large {
			width: 800px;
			height: 500px;
	    }
	}

		.modal-box__content-wrap {
			display: none;
		}

	        // main heading in drawer panel
	        // TODO: abstract this into generic header
	        // actions header is the same
	        .modal-box__heading-wrap {
	            @include scut-center-transform(y);
	        }

	        	.modal-box__content {
	        		position: relative;
				    padding: $base-line-height $panel-header-padding-right $base-line-height $panel-header-padding-left;
	        	}

