/*------------------------------------*\
# OPTIONS-LIST
\*------------------------------------*/

.options-list {
    position: relative;
    margin: 5px 0 30px;
    @include transition(margin 0.3s);

    .actions & {
        border-top: 1px solid $alto;
        padding-top: 20px;
        &:nth-of-type(1) { //remove top border from first options list in actions panel
            border-top: none;
        }
    }

    &.is-collapsed {
        margin-bottom: 0;
    }
}

    .options-list__heading {
        position: relative;
        padding: 0 13px 10px 5px;
        text-transform: uppercase;
        font-size: rem(14);

        &.-collapsable {
            cursor: pointer;
            &:after {
                content: "";
                display: block;
                position: absolute;
                top: 0;
                right: 20px;
                width: 20px;
                height: 12px;
                transform: rotate(180deg);
                @include use-sprite("icon-expand");
                .is-collapsed & {
                    transform: rotate(0deg);
                }
            }
        }


        .drawer & {
            padding-left: 13px;
        }
    }

        .options-list__inner-wrap {
        }

            .options-list__list { // ul
            }

                .options-list__item { // li
                    margin-bottom: 0;

                    .drawer & {
                        margin-bottom: 4px;
                    }
                }

                    .options-list__link { // a
                        display: block;
                        position: relative;
                        height: $options-list-link-height-actions;
                        padding-left: $options-link-left-padding-actions;
                        text-decoration: none;
                        // font-size: rem(14);
                        color: $black;

                        &:hover,
                        &.is-selected {
                            // background: $alto;
                            background: rgba(0, 0, 0, 0.075);
                        }

                        .drawer & {
                            height: $options-list-link-height-drawer;
                            padding-left: $options-link-left-padding-drawer;
                        }
                    }
                    
                        .options-list-link__inner-wrap {
                            @include scut-center-transform(y); //vertically align center
                            white-space: nowrap;
                            font-size: 0; // remove space between inline-blocks
                        }

                            .options-list__icon,
                            .options-list__text, {
                                display: inline-block;
                                vertical-align: middle;
                            }


                            .options-list__icon {
                                margin-right: 8px;

                                .drawer & {
                                    margin-right: 12px;
                                }

                                &.-team {
                                    width: 30px;
                                    height: 30px;
                                    border-radius: 100%;
                                    &.-sales {
                                        background: $team-color-sales;
                                    }
                                    &.-marketing {
                                        background: $team-color-marketing;
                                    }
                                    &.-development {
                                        background: $team-color-development;
                                    }
                                }
                            }

                            .options-list__text {
                                // width: $drawer-width - 95px;
                                // margin-left: 8px;
                                width: $options-link-text-width-actions;
                                text-decoration: none;
                                font-size: rem(13);
                                color: $black;
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;

                                .drawer & {
                                    width: $options-link-text-width-drawer;
                                    font-weight: lighter;
                                    color: $dove-gray;
                                    font-size: rem(14);
                                }
                            }


