/*------------------------------------*\
# OPTIONS-LIST
\*------------------------------------*/

// all lists within drawer & actions panels

.options-list {
    position: relative;
    margin: 5px 0 30px;
    @include transition(margin 0.3s);

    .actions & {
        border-bottom: 1px solid $alto;
        padding-bottom: 20px;
    }

    &.is-collapsed {
        margin-bottom: 0;
    }
    
    &:last-child {
        border: none;
        margin-bottom: 0;
    }
}

    .options-list__heading {
        position: relative;
        padding-bottom: 10px;
        text-transform: uppercase;
        font-size: $options-list-heading-font-size;
        color: $dove-gray;

        &.-collapsable {
            cursor: pointer;

            &:after {
                content: "";
                display: block;
                position: absolute;
                top: 0;
                right: 0;
                width: 20px;
                height: 12px;
                @include transform( rotate(180deg) );
                @include use-sprite("icon__expand");

                .is-collapsed & {
                    @include transform( rotate(0deg) );
                }

                .drawer & {
                    right: 10px;
                }
            }
        }


        .drawer & {
            padding-left: $options-list-heading-padding-left--drawer;
        }
    }

        .options-list__inner-wrap {
        }

            .options-list__list { // ul
            }

                .options-list__item { // li
                    position: relative;
                    margin-bottom: 0;

                    &.-current-file {
                        height: $options-list-link-height-actions;
                        margin: 10px 0px 20px;
                    }

                    .drawer & {
                        margin-bottom: 4px;
                    }
                    
                    // when ".-multi-line" class present on '.options-list'
                    // add margin to bottom of .options-list__item (li)
                    .-multi-block & { 
                        margin-bottom: 14px;
                    }
                }

                    .options-list__link { // a
                        display: block;
                        position: relative;
                        height: $options-list-link-height-actions;
                        text-decoration: none;

                        &:hover,
                        &.is-selected {
                            background: rgba(0, 0, 0, 0.075);
                        }

                        .drawer & {
                            height: $options-list-link-height-drawer;
                            padding-left: $options-link-left-padding-drawer;
                        }
                    }
                    


