/*------------------------------------*\
    # PANEL-HEADER
\*------------------------------------*/

.panel-header {
    display: block;
    position: relative;
    height: $panel-header-height;
    overflow: hidden;
    padding: 0 $panel-header-padding-right 0 $panel-header-padding-left;
    // border-bottom: 1px solid $silver;
    
    // make bottom border using psuedo el (to add indents without adding padding to parent)
    &:before {
        content: "";
        display: block;
        position: absolute;
        left: 0px;
        right: 0px;
        height: 1px;
        bottom: 0px;
        background: $silver;
    }
    
    &.-stage {
        z-index: $panel-header-stage-z-index;
        position: relative;
        width: 100%;
        top: auto;

        // stage panel-header must be position: fixed to anable the actions panel to open 'underneath' it  
        // we now have to set the width of panel-header based on whether the drawer panel is open 
        // and animate it to match the opening of the drawer panel
        @include mq(large) {
            position: fixed;
            top: 0;
            @include calc( width, "100% - #{$main-nav-width}" ); // viewport - main-nav
            height: $panel-header-stage-height;
            background: $white;
            @include transition(width $drawer-animation-duration);

            .drawer-is-open & {
                @include calc( width, "100% - #{$main-nav-width} - #{$drawer-width}" ); // viewport - main-nav - drawer
            }

            &.is-hidden {
                display: none;
            }
        }

        &:before {
            left: 7px;
        }
    }
}

.panel-header--drawer {
    // set width to prevent close button moving when actions is closed
    width: $drawer-width;

    &:before {
        left: 10px;
        right: 10px;
    }
}

.panel-header--actions {

    @include mq(large) {
        // set width to prevent close button moving when actions is closed
        width: $actions-width;
        padding-left: 20px;

        // remove bottom keyline
        &:before {
            content: none;
        }
    }
}

// header for file explorer showing current source and crumbtrail (location) 
.panel-header--location {
    width: 100%;
    padding-top: 13px;
    background: $alabaster;
}

// header for timeline containing recent and future tabs 
.panel-header--timeline {
    // width: 100%;
    background: $alabaster;
    margin-left: 12px;
    padding-left: 0;
}



