/*------------------------------------*\
# POP MENU
\*------------------------------------*/

.pop-menu-wrap {
    z-index: 999999;
    display: block;
    position: absolute;
    top: -9999px;
    left: -9999px;
    // width: 180px;
    background: $white;
    opacity: 1;
    border: 1px solid $alto;
    box-shadow: 
        0 6px 20px rgba(0, 0, 0, 0.04), 
        -4px 8px 15px rgba(0, 0, 0, 0.05), 
        4px 8px 15px rgba(0, 0, 0, 0.3);
    @include transition(opacity 0.3s, height 0);

    &.is-hidden {
        height: 0;
        opacity: 0;
        @include transition(opacity 0.3s, height 0 0.3s);
    }
}

    .pop-menu { // nav
        padding: 5px 4px 5px;
    }

        .pop-menu__list { // ul
        }

            .pop-menu__heading {
                // padding: 13px;
                font-size: rem(15);
                color: $dove-gray;
                margin-bottom: 5px;
                // font-weight: lighter;
            }

                .pop-menu__item { // li
                    position: relative;
                    padding: 10px 20px 10px 46px;
                    background: $white;
                    font-size: rem(14);
                    color: $dove-gray;
                    cursor: pointer;
                    @include transition( background 0.3s );
                    
                    &:hover,
                    &.is-selected {
                        background: $gallery;
                    }

                    // tick
                    &.is-selected:before {
                        content: "";
                        @include scut-center-transform(y);
                        left: 16px;
                        @include use-sprite("icon-tick"); 
                    }

                    &.-divider {
                        &:after {
                            content: "";
                            display: block;
                            position: absolute;
                            top: -5px;
                            left: 0;
                            width: 100%;
                            height: 1px;
                            background: $alto;

                        }
                        margin-top: 9px;
                    }

                }

                    .pop-menu__label { // label
                        padding-left: 10px;
                    }



