/*------------------------------------*\
# PRIORITY BOX
\*------------------------------------*/

// panels that can take on different colours for priority
// the event panel and actions current file at this point

// wrapper around priority-box for 
// daily-digest section headers
.priority-box__wrap {
    position: relative;
    margin-top: 15px;

    &:first-child {
        margin-top: 0;
    }
}


.priority-box {
    position: relative;
    height: $event-height;
    white-space: normal;
    font-size: 1rem; // rest font-size

    // width: 500px;
    background: $dusty-gray;
    border-radius: $priority-box__border-radius;
    
    &.-critical {
        background: $pink;
    }
    &.-non-critical {
        background: $orange;
    }
    &.-now {
        background: $green;
    }

    // add hover when inside event-wrap 
    // (must be in timeline - not in actions header)
    .event-wrap & {
        @include transition(transform 0.2s);

        &:hover {
            // box-shadow: 0px 0px 15px $dusty-gray;
            @include transform( translateX(3px) );
        }
    }
    
    // selected event
    .is-selected & {
        @include transform( translateX(30px) !important );
        
        // when timeline is split, remove animations
        .-split-view & {
            @include transform( none !important );
        }
    }

    &.-event,
    &.-current-item,
    &.-daily-digest {
        padding: 0 35px 0 16px;
    }

    &.-daily-digest {
        padding-right: 55px;
        background: $blue;
        border-radius: $priority-box--daily-digest__border-radius;
        
        .daily-digest & {
            background: $gallery;
        }

        // when inside actions footprint as 'current-item
        &.-current-item {
            background: $blue;
        }
    }

    &.-event {
        width: 50%;
        max-width: 500px;
        min-width: 400px;
    }

    &.-event,
    &.-current-item,
    {
        // the triangle that points to the time
        // only sh9w this for "event" priority boxes
        &:after {
            content: "";
            @include scut-triangle(left, $event-arrow-height $event-arrow-width, $dusty-gray);
            @include scut-center-transform(y);
            left: -20px;
            @include transition( border-color 0.1s );
        }

        // set color of triangles when inside specific class 
        &.-critical:after {
            border-right-color: $pink;
        }
        &.-non-critical:after {
            border-right-color: $orange;
        }
        &.-now:after {
            border-right-color: $green;
        }
        &.-daily-digest:after {
            border-right-color: $blue;
        }

        // when timeline is split, remove animations
        .-split-view & {
            width: 80%;
            min-width: 320px;
            max-width: 400px;
            height: $event-height-split-view;
            margin-top: 20px;
            box-shadow: 
                0px 10px 0px $white, 
                0px -25px 0px $white
                ;
            @include transition( none );

            &:hover {
                @include transform( none );
            }

            // remove triangle
            &:after {
                @include scut-triangle(up, $event-arrow-width $event-arrow-height, $dusty-gray);
                @include scut-center-transform(x);
                top: -$event-arrow-height;
            }

            // set color of triangles when inside specific class 
            &.-critical:after {
                border-bottom-color: $pink;
            }
            &.-non-critical:after {
                border-bottom-color: $orange;
            }
            &.-now:after {
                border-bottom-color: $green;
            }
            &.-daily-digest:after {
                border-bottom-color: $blue;
            }
        }

    }

    // daily-digest section headers that have 
    // collapsable tablees underneath
    // TODO: make this into module - similar to
    // the collapsable inside options-list
    &.-collapsable {
        cursor: pointer;

        &:after {
            content: "";
            display: block;
            position: absolute;
            @include calc( top, "50% - 6px" );
            // top: 50%;
            right: 27px;
            width: 20px;
            height: 12px;
            @include transform( rotate(180deg) );
            @include use-sprite("icon__expand");

        }

        &.is-collapsed {
            &:after {
                @include transform( rotate(0deg) );
            }
        }
    }

    // config for the header panel in actions panel
    // for timeline section
    &.-current-item {
        position: absolute; // position over the top of the actions header
        @include calc( width, "#{$actions-width} + 20px" );
        top: -( ($event-height - $panel-header-height) / 2);
        left: -20px;
        padding-right: 55px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        @include transition( left $actions-animation-duration, background-color 0.1s );

        .is-hidden & {
            left: 20px;
        }

        &.is-hidden {
            display: none;
        }
    }
}


    .break { // br
        
        // stop br breaking when inside split-view
        // this is for the 'now' text inside green panels
        .-split-view .priority-box__text & {
            display: none;
        } 
    }
