/*------------------------------------*\
    # SCROLLABLE CONTENT
\*------------------------------------*/

// this class is applied to any div 
// that contains scrollable content

// sets a custom height so ".scrollable-content" takes up 
// the correct amount of height taking into account any 
// fixed headers that precede before it
.scrollable-content__wrap {
    position: relative;
    overflow: hidden;
    height: 100%;

    &.-setup,
    &.-settings
    {
        top: $panel-header-height;
        @include calc( height, "100% - #{$panel-header-height}" );
    }

    &.-timeline {
        @include calc( height, "100% - #{$panel-header-height}" ); 
    }

    &.-files {
        @include calc( height, "100% - #{$panel-header-height}" ); 
        padding-left: $files-table-padding-left;
    }

    &.-daily-digest {
        background: $gallery;
        // height: 100%; // same as default so commented out
    }

    &.-modal {
        height: $modal-box__height - $panel-header-height;
        &.-large {
            height: $modal-box__height--large - $panel-header-height - 2px;
        }
    }
}

    .scrollable-content {
        width: 100%;
        height: 100%;
        // scroll y is comtrolled here
        // scroll x is hidden here and shown via .stage
        overflow-y: auto;
        overflow-x: hidden;
    }
        
        // sets a custom padding value so that content requiring 
        // space can be displayed correctly - areas that have content 
        // that fills the scrollable area dont require this element 
        .scrollable-content__inner-wrap {
            position: relative;
            overflow: hidden;

            &.-setup {
                padding: 40px 24px;
            }
            
            &.-stage {
                padding: 30px 24px;
            }
            
            // &.-settings {
            //     padding: $base-line-height $stage-padding-left;
            // }
            
            &.-timeline {
                padding: 30px 24px;
            }

            // set custom padding for daily-digest section 
            // this will reveal a gray 'border' from the background-color
            // set on .scrollable-content__wrap.-daily-digest 
            &.-daily-digest {
                padding: 23px 14px;
            }
        }

