/*------------------------------------*\
    # SCROLLABLE CONTENT
\*------------------------------------*/

// this class is applied to any div taht contains 
// scrollable content

// sets a custom height so ".scrollable-content" can be 100% height
.scrollable-content__wrap {
    position: relative;
    overflow: hidden;
    height: 100%;

    &.-stage {
        top: $panel-header-height;
        @include calc( height, "100% - 58px" );
    }

    &.-timeline {
        @include calc( height, "100% - #{$panel-header-height}" ); 
    }

    &.-files {
        @include calc( height, "100% - #{$panel-header-height}" ); 
        padding-left: $files-table-padding-left;
    }

    // &.-daily-digest {
    //     height: 100%; // same as default so commented out
    // }
}

    .scrollable-content {
        width: 100%;
        height: 100%;
        // overflow: auto;
        // scroll y is comtrolled here
        // scroll x is hidden here and shown via .stage
        overflow-y: auto;
        overflow-x: hidden;

        &.-daily-digest {
           background: $gallery;
        }
    }

        // .scrollable-content__inner-wrap {
        //     &.-stage {
        //         position: relative;
        //         height: 100%;
        //         padding: 50px 30px;
        //         overflow: auto;
        //     }
        // }

