/*------------------------------------*\
    # SPLIT VIEW WRAP
\*------------------------------------*/

.split-view-wrap-outer {
    position: relative;
    height: 100%;
    
    &.-moments {
        @include calc( height, "100% - #{$panel-header-height}" );
        top: $panel-header-height;
    }

    &.-cols-1 {
        min-width: $min-table-width-files-single;
    }
    &.-cols-2 {
        min-width: $min-table-width-files-split * 2;
    }
    &.-cols-3 {
        min-width: $min-table-width-files-split * 3;
    }
}

    .split-view-wrap-container {
        position: relative;
        height: 100%;
        // TODO: remove this transition if its not able to 
        // take effect when inside the app - it was added to
        // create an animation when jumping between split-view 
        // modes
        @include transition( width 0.5s );
        
        // float containers left when in split-view mode
        // inside class '.split-view'
        .-split-view & {
            float: left;
        }

        // when inside parent class .-cols-2 or .-cols-3
        // .-cols-1 &, // remove this to remove border single view 
        .-cols-2 &, 
        .-cols-3 &, {
            border-left: 1px solid $silver;
        }
        
        // remove border from 1st col when inside ".-cols-1" single col view
        // .-cols-1 & {
            &.-col-1 {
                border-left: none;
            }
        // }


        // when inside parent class .-cols-2
        .-cols-2 & {
            width: percentage(1 / 2);
        }

        // when inside parent class .-cols-3
        .-cols-3 & {
            width: percentage(1 / 3);
        }
        
        // first col
        &.-col-1 {
            z-index: 1;
        }
        &.-col-2 {
            z-index: 2;
        }
        &.-col-3 {
            z-index: 3;
        }
    }

        .split-view-wrap {
            position: relative;
            overflow: hidden;

            .stage--moments & {
                height: 100%;
            }
            .stage--files & {
                @include calc( height, "100% - #{$panel-header-height}" ); 
                padding-left: $files-table-padding-left;
            }
        }



