/*------------------------------------*\
    # STAGE
\*------------------------------------*/

.stage-wrap {
	// overflow: auto;
	overflow: hidden;
	height: 100%;
	position: relative;
	padding-top: $panel-header-stage-height;
}

	.stage {
	    height: 100%;
	    @include clearfix;

	    @include mq(medium){
	        // scroll needs to be applied when split screen 
	        // views are too wide to fit in viewport 
	        overflow-x: auto;
	    }
	}
		
		// .stage__heading-wrap {
		.stage__hd-wrap {
			display: inline-block;
			position: relative;
			margin-top: 30px;
		}

	    .stage__sidebar { // aside
	    	display: none;
	        @include clearfix;

	        @include mq(large) {
		    	display: block;
		        @include span-columns(4);
	        }
	    }

	    .stage__content { // div
	        @include clearfix;

	        @include mq(large) {
		        @include span-columns(8);
	        }
	    }

			.stage__heading-text {
			    margin-top: $base-line-height;
			    margin-bottom: $base-line-height / 2;
				font-size: rem(20);
				font-weight: bold;
				color: $tundora;

			    &:first-child {
			        margin-top: 0;
			    }
			}

			.stage__subheading-text {
			    margin-bottom: $base-line-height / 2;
				font-size: rem(18);
				font-weight: bold;
				color: $tundora;
			}

