/*------------------------------------*\
# STAGE NAV
\*------------------------------------*/

// the list of buttons that sits in the top right 
// of header - holds the avatar, now & notificatons buttons 
// the icons themselves are in icon-button.scss

.stage-nav { // nav
    position: absolute;
    bottom: 20px;
    right: $stage-padding-right - 5px;

    &.-account {
        top: 15px;
        bottom: auto;
    }
}

    .stage-nav__list { // ul
        font-size: 0;
    }

        .stage-nav__item { // li
            display: inline-block;
            margin: 0 6px;

            &.-profile {
                margin-left: 20px;
            }
        }

            // custom styles for accounts icons in top right corner 
            .stage-nav__icon-wrap { // wrapper for icon
                position: relative;
                width: $stage-nav__icon-wrap-width;
                height: $stage-nav__icon-wrap-height;
                border-radius: $stage-nav__icon-wrap-height;
                @include transition( width 0.3s );
                cursor: pointer;

                .-now & {
                    background: $green;
                    width: $stage-nav__icon-wrap-width;

                    &:hover,
                    &.is-selected {
                        width: 76px;

                        .text { // now text
                            opacity: 1;
                            @include transition( opacity 0.3s 0.1s );
                        }
                    }

                    .icon-now-white {
                        position: absolute;
                        right: 0;
                    }

                    .text {
                        @include scut-center-transform(y);
                        left: 13px;
                        font-size: rem(16);
                        color: $white;
                        opacity: 0;
                        line-height: $stage-nav__icon-wrap-height;
                        @include transition( opacity 0.1s);
                    }
                }

                .-notifications & {
                    background: $pink;
                }
            }


