/*------------------------------------*\
    # STAGE
\*------------------------------------*/

.stage-wrap {
	overflow: auto;
	height: 100%;
	position: relative;
	padding-top: $panel-header-height;
}

	.stage {
	    @include clearfix;
	    @include mq(medium){
	        height: 100%;
	        overflow: auto;
	    }
	}

		.section-wrap {
			display: block;
			height: 100%;
			&.is-hidden {
				display: none;
			}
		}

			.stage__heading-wrap {
				@extend %vertical-align-center;
			}

				.stage__heading {
				    font-size: rem(16);
				    color: $black;
				}

				.stage__sub-heading {
				    font-size: rem(14);
				    font-weight: lighter;
				    color: $mountain-meadow;
				}

			