/*------------------------------------*\
# STAGE NAV
\*------------------------------------*/

// the list of buttons that sits in the header beneath the avatar 
// the icons themselves are in icon-button.scss

.stage-nav { // nav
    position: absolute;
    bottom: 25px;
    right: $stage-padding-right - 5px;

    &.-account {
        top: 15px;
        bottom: auto;
    }
}

    .stage-nav__list { // ul
        font-size: 0;
    }

        .stage-nav__item { // li
            display: inline-block;
            margin: 0 6px;

            &.-profile {
                margin-left: 20px;
            }
        }

            // custom styles for accounts icons in top right corner 
            .stage-nav__icon-wrap { // wrapper for icon
                position: relative;
                width: $stage-nav__icon-wrap-width;
                height: $stage-nav__icon-wrap-height;
                border-radius: $stage-nav__icon-wrap-height;
                @include transition( width 0.3s );
                cursor: pointer;

                .-now & {
                    background: $green;
                    width: $stage-nav__icon-wrap-width;

                    &:hover,
                    &.is-selected {
                        width: 76px;

                        .text { // now text
                            opacity: 1;
                            @include transition( opacity 0.3s 0.1s );
                        }
                    }

                    .icon-now-white {
                        position: absolute;
                        right: 0;
                    }

                    .text {
                        @include scut-center-transform(y);
                        left: 13px;
                        font-size: rem(16);
                        color: $white;
                        opacity: 0;
                        line-height: $stage-nav__icon-wrap-height;
                        @include transition( opacity 0.1s);
                    }
                }

                .-notifications & {
                    background: $pink;

                    .inset-num {
                        position: absolute;
                        top: -3px;
                        right: -13px;
                        width: 20px;
                        height: 20px;
                        background: $pink;
                        border-radius: 100%;
                        border: 2px solid $white;
                        color: $white;
                        font-size: rem(12);
                        font-weight: bold;
                        text-align: center;
                        line-height: 18px;
                    }
                }
            }


            // .stage-nav__icon {
            //     position: relative;
            //     width: 30px;
            //     height: 30px;
            //     overflow: visible !important;
            //     opacity: 0.5;
            //     cursor: pointer;
            //     @include transition( opacity 0.3s );

            //     &.-infinity{
            //         @include use-sprite("icon-files__infinity-view");

            //         &.is-split-view{
            //             @include use-sprite("icon-files__split-view");
            //         }
            //     }

            //     &.-sort {
            //         @include use-sprite("icon-files__sort");
            //     }

            //     &.-drawer {
            //         @include use-sprite("icon-files__toggle-drawer");
            //     }

            //     &.-actions {
            //         @include use-sprite("icon-files__toggle-actions");
            //     }

            //     &.-search {
            //         @include use-sprite("icon-files__search");
            //     }

            //     &.-now {
            //         @include use-sprite("icon-files__now");
            //     }

            //     &:after {
            //         content: "";
            //         position: absolute;
            //         top: -2px;
            //         left: -2px;
            //         right: -2px;
            //         bottom: -2px;
            //         border: 1px solid rgba($dusty-gray, 0.6);
            //         border-radius: 100%;
            //         opacity: 0;
            //         @include transition( opacity 0.3s );
            //     }

            //     &:hover,
            //     &.is-selected,
            //     {
            //         opacity: 1;

            //         &:after {
            //             // content: "";
            //             opacity: 1;
            //         }
            //     }

            //     &:active {
            //         &:after {
            //             background: rgba($black, .03);
            //         }
            //     }
            // }


