/*------------------------------------*\
    # STATUS BAR
\*------------------------------------*/

// status bar is a panel that sits at the bottom 
// of the screen that shows status reports such as 
// file indexing progress 

.status-bar {
    // z-index: $status-bar-z-index;
    // position: fixed;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: $status-bar__height;
    background: $alabaster;
    border-top: 1px solid $alto;
    // opacity: 1;
    visibility: visible;
    // @include transition( bottom .3s, opacity 0s .3s, height 0s .3s );
    @include transition( bottom .3s );
    // @include transition( all .3s );
    
    // // when .drawer-wrap is present and open 
    // // set left value to be main-nav + drawer-width 
    // .drawer-wrap ~ .stage-wrap & {
    //  left: $main-nav-width + $drawer-width;
    // }

    // // when .drawer-wrap is present and hidden
    // // set left value to be main-nav 
    // .drawer-wrap.is-hidden ~ .stage-wrap & {
    //  left: $main-nav-width;
    // }

    &.is-hidden {
        // height: 0;
        bottom: -$status-bar__height;
        visibility: hidden;
        @include transition( bottom .3s, visibility 0s .3s );
        // opacity: 0;
        // @include transition( bottom .3, opacity .3s, height 0s .3s );
    }
}
