/*------------------------------------*\
# STAGE ACCOUNT NAV
\*------------------------------------*/

// the avatar account button and the now and notifications 
// buttons in the header on the stage 
// the icons themselves are in icon-button.scss

.stage-account-nav { // nav
    // @include scut-center-transform(y);
    position: absolute;
    bottom: 23px;
    right: $stage-padding-right - 5px;
}

    .stage-account-nav__list { // ul
        font-size: 0;
    }

        .stage-account-nav__item { // li
            display: inline-block;
            margin: 0 6px;
        }

            // .stage-account-nav__icon {
            //     position: relative;
            //     width: 30px;
            //     height: 30px;
            //     overflow: visible !important;
            //     opacity: 0.5;
            //     cursor: pointer;
            //     @include transition( opacity 0.3s );

            //     &.-infinity{
            //         @include use-sprite("icon-files__infinity-view");

            //         &.is-split-view{
            //             @include use-sprite("icon-files__split-view");
            //         }
            //     }

            //     &.-sort {
            //         @include use-sprite("icon-files__sort");
            //     }

            //     &.-drawer {
            //         @include use-sprite("icon-files__toggle-drawer");
            //     }

            //     &.-actions {
            //         @include use-sprite("icon-files__toggle-actions");
            //     }

            //     &.-search {
            //         @include use-sprite("icon-files__search");
            //     }

            //     &.-now {
            //         @include use-sprite("icon-files__now");
            //     }

            //     &:after {
            //         content: "";
            //         position: absolute;
            //         top: -2px;
            //         left: -2px;
            //         right: -2px;
            //         bottom: -2px;
            //         border: 1px solid rgba($dusty-gray, 0.6);
            //         border-radius: 100%;
            //         opacity: 0;
            //         @include transition( opacity 0.3s );
            //     }

            //     &:hover,
            //     &.is-selected,
            //     {
            //         opacity: 1;

            //         &:after {
            //             // content: "";
            //             opacity: 1;
            //         }
            //     }

            //     &:active {
            //         &:after {
            //             background: rgba($black, .03);
            //         }
            //     }
            // }


