/*------------------------------------*\
# SUB MENU TRIGGER
\*------------------------------------*/

// the small arrow that sits to the side 
// of an option that triggers the pop menu

.sub-menu-trigger {
    position: relative;
    padding-right: 15px;
    margin-right: 5px;
    cursor: pointer;

    &:after {
        content: "";
        @include scut-triangle(down, 9px 4px, $black);
        position: absolute;
        right: 5px;
        top: 50%;
        @include transform( translateY(-50%) );
        @include transition(opacity 0.3s);
        opacity: 1;
    }

    &:hover:after {
        opacity: 0.3;
    }

}

