/*------------------------------------*\
    # TABLE
\*------------------------------------*/

// generic table module for files, people etc

.table {
    display: table;
    width: 100%;
    table-layout: fixed; // make table cell widths depend on values rather than their content
    font-size: rem(13);
}

    .table__row {
        display: table-row;

        &:not(.-header) {
            &:not(.is-selected):hover {
                .table__col {
                    cursor: pointer;
                    background-color: $gallery;
                }
            }
            &:hover, 
            &.is-selected {

                // show file nav on table row hover
                .file-nav {
                    opacity: 1;
                    @include transition(opacity 0.3s);
                }
            }
        }
    }

        .table__col {
            display: table-cell;
            height: 50px;
            padding: 0 10px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            vertical-align: middle;
            border-bottom: 1px solid $gallery;
            @include transition(all 0.3s);
            
            // add rounded corners to first and last table row 
            // inside tables on 'future' events screen to match 
            // 'event' panels (priority-box)
            .event-table-wrap .table__row:first-child & {
                &:first-child {
                    border-top-left-radius: 15px;
                }
                &:last-child {
                    border-top-right-radius: 15px;
                }
            }
            .event-table-wrap .table__row:last-child & {
                &:first-child {
                    border-bottom-left-radius: 15px;
                }
                &:last-child {
                    border-bottom-right-radius: 15px;
                }
            }

            // specific modifiers for file explorer table
            &.-file-name {
                width: 100%; // width only used if table-layout: fixed;
            }

            &.-modified {
                width: 120px;
            }

            &.-source {
                width: 90px;
                text-align: center;

                // when .-source column is inside '.stage-wrap--files .-split-view' 
                // hide it due to narrow width - scope to files section only
                .stage-wrap--files .-split-view & {
                    display: none;
                }

                .media {
                    width: 40px;
                }
            }

            &.-event-type {
                width: 90px;
                text-align: center;
            }
            
            // table inside future event for poeple 
            &.-people {
                height: 70px;
            }

            .section-wrap.-files .is-selected > & {
                background: $pink;
            }

            .section-wrap.-moments .is-selected > & {
                background: $alto;
            }
        }

            .table__icon {
                position: relative;

                &:after {
                    content: "";
                    display: block;
                    position: absolute;
                    top: -8px;
                    right: -8px;
                    bottom: -8px;
                    left: -8px;
                    background: white;
                    z-index: -1;
                    border-radius: 100%;
                }
            }
