/*------------------------------------*\
    # TABLE
\*------------------------------------*/

// table currently only shows results for file explorer

.table {
    display: table;
    width: 100%;
    table-layout: fixed; // make table cell widths depend on values rather than their content
    font-size: rem(13);
}

    .table__row {
        display: table-row;

        &:not(.-header) {
            &:not(.is-selected):hover {
                .table__col {
                    cursor: pointer;
                    background-color: $gallery;
                    // @include transition(all 0.5);
                }
            }
            &:hover, 
            &.is-selected {
                // show file nav on table row hover
                .file-nav {
                    // fade file-nav up
                    @include transition(opacity 0.3s);
                    opacity: 1;
                }
            }
        }
    }

        .table__col {
            display: table-cell;

            height: 50px;
            // line-height: 50px;

            // padding: 15px;
            padding: 0 10px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            vertical-align: middle;
            border-bottom: 1px solid $gallery;
            color: $black;
            @include transition(all 0.3s);
            
            // add rounded corners to first and last table row 
            // inside tables on 'future' events screen to match 
            // 'event' panels (priority-box)
            .event-table-wrap .table__row:first-child & {
                &:first-child {
                    border-top-left-radius: 15px;
                }
                &:last-child {
                    border-top-right-radius: 15px;
                }
            }
            .event-table-wrap .table__row:last-child & {
                &:first-child {
                    border-bottom-left-radius: 15px;
                }
                &:last-child {
                    border-bottom-right-radius: 15px;
                }
            }

            // specific modifiers for files explorer table
            &.-file-name {
                width: 100%; // width only used if table-layout: fixed;
            }

            &.-modified {
                width: 120px;
                // text-align: center;
            }

            &.-source {

                // when .-source column is inside split view 
                // hide it due to narrow width
                .-split-view & {
                    display: none;
                }

                width: 90px;
                text-align: center;
                .media {
                    width: 40px;
                }
            }
            
            // table inside future event for poeple 
            &.-people {
                height: 70px;
                // padding: 11px 6px;
                // line-height: inherit;
            }

            .-header > & {
                border-bottom-width: 2px;
                font-weight: bold;
                color: $dusty-gray;
            }
            

            .section-wrap.-files .is-selected > & {
                background: $pink;
                // color: $white;
            }

            .section-wrap.-moments .is-selected > & {
                background: $alto;
                // color: $white;
            }
            

            // todo: remove these? should be in media object scss
            .media {
                z-index: 1;
                position: relative;
                overflow: visible;
            }
            .media__img {
                position: relative;
                margin-left: 10px;
                margin-right: 20px;
            }
        }

            .table__icon {
                // @include scut-center-transform(y);
                position: relative;

                &:after {
                    content: "";
                    display: block;
                    position: absolute;
                    top: -40%;
                    left: -40%;
                    width: 180%;
                    height: 180%;
                    background: white;
                    z-index: -1;
                    border-radius: 100%;
                }
            }
