/*------------------------------------*\
    # TEXT-LIST
\*------------------------------------*/

.text-list {
    margin-left: 4px;
}

    .text-list__item {
        position: relative;
        padding-left: 11px;
        font-size: rem(13);
        line-height: 1.3;
        color: $dusty-gray;
        font-weight: bold;

        &:before {
            content: "";
            position: absolute;
            top: 4px;
            left: 0;
            width: 5px;
            height: 5px;
            background: $dove-gray;
        }
    }