/*------------------------------------*\
    # TIMELINE
\*------------------------------------*/

.timeline-wrap {
    position: relative;
}

    .timeline {
        position: relative;
        width: 100%;
        
        .-split-view & {
            float: left;

            // timeline - v line
            &:before {
                left: 0;
                right: 0;
                margin: 0 auto;
            }
        }

        // timeline - v line
        &:before {
            content: "";
            position: absolute;
            top: 0;
            bottom: 40px;
            left: 149px;
            width: 3px;
            background: $alto;
        }
    }




