/*------------------------------------*\
    # TOOLTIPS
\*------------------------------------*/

.tooltip {
	z-index: $tooltip-z-index;
	display: block;
	position: absolute;
    top: 15px;
    left: 42px;
    padding: 8px 8px 6px;
    // width: 100px;
    // height: 25px;
    opacity: 1;
    visibility: visible;
    background: $tooltips-background-color;
    // background: $black;
    border-radius: 4px;
    @include transition(opacity $tooltip-animation-duration $tooltip-show-delay);


    &.is-hidden {
        opacity: 0;
    	visibility: hidden;
        top: -99999px;
        left: -99999px;
    	// opacity: 1;
    	// visibility: visible;

    	// todo: fix this
    	// fade out slowly - creates visual bug
		// @include transition(opacity $tooltip-animation-duration, visibility 0 ($tooltip-animation-duration + $tooltip-show-delay));
		@include transition(none);
    }

}

    .tooltip__triangle {
        position: absolute;

        &:after {
            content: "";
            @include scut-triangle(right, $tooltips-arrow-width $tooltips-arrow-height, $tooltips-background-color);
            display: block;
        }

        .-left &, 
        .-right & {
            @include scut-center-transform(y);
        }

        .-left & {
            right: -$tooltips-arrow-width;
        }

        .-right & {
            left: -$tooltips-arrow-width;

            &:after {
                @include transform( rotate(180deg) );
            }
        }

        .-above &,
        .-below & {
            @include scut-center-transform(x);
        }

        .-above & {
            bottom: -($tooltips-arrow-height - $tooltips-arrow-width / 2);

            &:after {
                @include transform( rotate(90deg) );
            }
        }

        .-below & {
            top: -($tooltips-arrow-height - $tooltips-arrow-width / 2);

            &:after {
                @include transform( rotate(270deg) );
            }
        }
    }
