/*------------------------------------*\
    # TYPOGRAPHY
\*------------------------------------*/

// defines typographic styles for repeating patterns 
// of text thoughout e.g. table__text and list__text
// most text styles are defined here using @extend for 
// efficiency but some are defined within relevent modules


// standard small text within actions panel 
.text {
    @extend %font-size__13;
    @extend %color__black;
    margin-bottom: 10px;

    &.-light {
        @extend %color__gray--light;
    }

    &.-dark {
        @extend %color__gray--dark;
    }
}

.text-link {
    @extend %color__green;

    &:hover {
        
    }
}

.black {
    // @extend %color__black;
}

// stage heading
.stage__heading-text {
    @extend %font-size__20;
    @extend %font-weight__lighter;
    @extend %color__black;
    @extend %line-height__normal;

    .stage-wrap--signup & {
        @extend %font-size__30;
        @extend %color__pink;
    }
}

// stage sub-heading
.stage__sub-heading-text {
    @extend %font-size__16;
    @extend %color__green;
    @extend %line-height__normal;

    .stage-wrap--signup & {
        @extend %font-size__16;
        @extend %font-weight__lighter;
        @extend %color__gray--light;
    }
}

// text withun basic text lists 
// ul > li > text
// ol > li > text
.text-list__text {
    @extend %font-size__13;
    @extend %font-weight__bold;
    @extend %color__gray--light;
}

// the headings in grey rounded corner 
// panels above event groups
.event-group-heading__text {
    @extend %font-weight__lighter;
    @extend %color__white;
    @extend %text-transform__uppercase;
}

// the text showing time / dates next to events 
.event-time__text {
    @extend %font-size__16;
    @extend %font-weight__lighter;
    @extend %color__gray--dark;
}

// the text within events / current item 
// within actions panel header
.priority-box__text {
    @extend %nowrap;
    @extend %font-size__16;
    @extend %font-weight__lighter;
    @extend %color__white;
    
    // make 'now' events multi-line
    // as they contain static text
    .-now & {
        @extend %wrap;
    }
    
    // reduce font-size of event in split-view 
    .-split-view & {
        @extend %font-size__15;
    }
}

// the default text within tables
.table__text {
    display: block;
    @extend %nowrap;
    @extend %color__black;
    @extend %font-size__13;

    &.-light {
        @extend %color__gray--light;
    }

    // when table text is within 'is-selected' class reverse out
    // scoping to -files section below removed as daily-digest is 
    // now background blue when selected so this text needs to 
    // reverse out to white 
    // .-files .table__row.is-selected & {
    .table__row.is-selected & {
        @extend %color__white;
    }
}

// th text
.table__text--header {
    @extend %nowrap;
    @extend %font-weight__bold;
    @extend %color__gray--light;
    @extend %font-size__13;
}

// font style for headings within tables
.table__text--heading {
    display: block;
    @extend %nowrap;
    @extend %font-size__16;
    @extend %font-weight__bold;
    @extend %color__gray--xdark;
}

// font style for sub-headings within tables
.table__text--sub-heading {
    display: block;
    @extend %nowrap;
    @extend %font-size__13;
    // @extend %font-weight__bold;
    @extend %color__gray--light;
}


// a tags
.link {
    @extend %text-decoration__none;

    &:hover {
        @extend %text-decoration__underline;
    }

    &.-stage {
        @extend %color__green;

        // &:hover {
        //     @extend %text-decoration__underline;
        // }
    }
}

// heading in single / split view panel-header
// TODO: remove this if hierarchy structure approved by eddie
// its not currently being used
.split-view__heading {
    @extend %nowrap;
    @extend %font-size__18;
    @extend %font-weight__lighter;
}

.options-list__heading {
    @extend %text-transform__uppercase;
    @extend %font-size__16;
    @extend %color__gray--dark;
    padding-bottom: 10px;
}

.options-list__text {
    @extend %nowrap;
    @extend %font-size__13;
    @extend %color__black;
    
    // when options-list__text is inside .drawer
    .drawer-wrap & {
        @extend %nowrap;
        @extend %font-size__14;
        @extend %font-weight__lighter;
        @extend %color__gray--xdark;
    }
}

// heading in options-list
.options-list__text--secondary {
    @extend %nowrap;
    @extend %font-size__13;
    @extend %font-weight__lighter;
    @extend %color__gray--light;
}

// sub-heading in options-list
.options-list__text--heading {
    @extend %font-size__13;
    @extend %color__black;
    @extend %font-weight__bold;
}

// text blocks taht wrap inside options-list
.options-list__text--paragraph {
    @extend %font-size__13;
    @extend %color__black;
}

// main heading inside drawer and actions
.drawer__heading-text,
.actions__heading-text,
.modal__heading-text,
.loading-data__text,
{
    @extend %text-transform__uppercase;
    @extend %font-size__22;
    @extend %font-weight__lighter;
    @extend %color__green;
}

.loading-data__text {
    margin-top: 30px;
}

// text in 'now' icon in top right stage 
.stage-nav__now-text {
    @extend %font-size__16;
    @extend %color__white;
}

// text within the tooltips
.tooltip__text {
    @extend %font-size__11;
    @extend %nowrap;
    @extend %color__white;
    @extend %text-transform__uppercase;
}

// the text inside pop menu items like source
// selection of sorting
.pop-menu__text {
    @extend %font-size__14;
    @extend %color__gray--dark;
}

// text within the nav that sits in the header panel on the stage
// containing buttons for timeline recent / future and
// setup progress 
.header-nav__text {
    @extend %font-size__16;
    @extend %color__gray--dark;
    @extend %text-transform__uppercase;
    @include transition( color 0.3s );

    .is-selected & {
        @extend %color__pink;
    }

    // make text smaller for setup progress
    .-setup & {
        @extend %font-size__12;
        @extend %color__gray--xxlight;
    }

    .is-complete & {
        @extend %color__green;
    }

    .-setup .is-selected & {
        @extend %font-weight__bold;
    }

}

// the text within circles on setup process
.header-nav__icon-text {
    @extend %font-size__13;
    @extend %font-weight__bold;
    @extend %text-align__center;
    @extend %color__gray--xxlight;

    .is-complete & {
        @extend %color__green;
    }

    .is-selected & {
        @extend %color__pink;
    }
}


.info-panel-header__text {
    @extend %font-size__20;
    @extend %font-weight__lighter;
    @extend %color__white;
    @extend %text-transform__uppercase;
}

// the text heading in staged sections such
// as the setup process 
.process__heading-text {
    @extend %font-size__42;
    @extend %font-weight__lighter;
    @extend %color__pink;
}
.process__subheading-text {
    @extend %font-size__20;
    @extend %font-weight__lighter;
    @extend %color__gray--light;
}

//
.btn__text {
    @extend %font-size__18;
    @extend %color__gray--light;
}

.or-text {
    @extend %font-size__22;
    @extend %color__gray--light;
}


.stage__text {
    @extend %font-size__14;
    @extend %color__zeus;
    margin-bottom: 20px;
    
    &.-cta {
        @extend %font-size__16;
        @extend %color__gray--light;
        @extend %text-align__center;
        padding-top: 10px;
    }

    &.-light {
        @extend %color__gray--light;
    }

    .btn__wrap & {
        @extend %text-align__center;
    }
}


.speech-bubble__text {
    @extend %font-size__16;
    @extend %color__gray--dark;
    @extend %font-weight__lighter;

    &.-heading {
        @extend %font-size__18;
        @extend %font-weight__bold;
        margin-bottom: 10px;
    }
}


.info-panel__heading-text {
    @extend %font-size__20;
    @extend %color__zeus;
    @extend %font-weight__bold;
    // margin-bottom: 3px;
    margin-top: 20px;
    margin-bottom: 10px;
}


.grid-header__text {
    @extend %color__zeus;
}

// daily digest header 
.panel-header__heading-text {
    @extend %font-size__20;
    @extend %font-weight__lighter;
    @extend %color__white;
}

// daily digest header 
.panel-header__subheading-text {
    @extend %font-size__14;
    @extend %color__white;
    @extend %nowrap;
    margin-top: 2px;
}

// section headings for people, meetings etc
.daily-digest__section-heading {
    @extend %font-size__18;
    @extend %font-weight__lighter;
    @extend %color__black;
    @extend %line-height__normal;
    @extend %text-transform__uppercase;
    margin-top: 40px;
    padding-left: 5px;


    &:first-child {
        margin-top: 0;
    }

    // doc type headings: 
    // docs, presentations, spreadsheets etc
    &.-docs {
        @extend %font-size__16;
        margin-top: 20px;
        padding-bottom: 15px;
        border-bottom: 1px solid $alto;
    }
}

// section headings for people, meetings etc
.options-list__sub-section-heading {
    @extend %font-size__18;
    @extend %font-weight__lighter;
    @extend %color__black;
    @extend %line-height__normal;
    @extend %text-transform__uppercase;
    margin-top: 40px;
    padding-left: 5px;


    &:first-child {
        margin-top: 0;
    }

    // doc type headings: 
    // docs, presentations, spreadsheets etc
    &.-docs {
        @extend %font-size__16;
        margin-top: 20px;
        padding-bottom: 15px;
        border-bottom: 1px solid $alto;
    }
}

.hierarchy__text {
    @extend %font-size__13;
    @extend %color__gray--dark;

    &.-current-location {
        @extend %font-weight__bold;
        @extend %color__gray--xdark;
    }

    .panel-header--location & {
        @extend %nowrap;
        @extend %font-size__18;
        @extend %font-weight__lighter;
        @extend %color__gray--xxdark;

        &.-current-location {
            @extend %font-weight__normal;
        }
    }
}


.form__static-item-text {
    @extend %nowrap;
    @extend %font-size__14;
    @extend %color__white;
}
