/*------------------------------------*\
# FORM ELEMENTS
\*------------------------------------*/

$form-field__height:			38px;
$form-field__border-radius:		3px;

.input__check-box {
    float: left;
}



.text-input {
    height: $form-field__height;
    border: 2px solid $green;
    border-radius: $form-field__border-radius;
    background: $white;
    padding: 1px 7px 0;
    width: 300px;
    outline: 0;

    color: $zeus;

    &.-full-width {
        width: 100%;
    }
}

input[type=text] {
}


.form__static-item {
	display: block;
	position: relative;
	height: $form-field__height;
	background: $green;
	border-radius: $form-field__border-radius;
	padding: 0 10px;
	line-height: $form-field__height;
	cursor: default;
}



// form add sources 
.sources__container {
    margin: 25px 0;
}

    .sources__row {
        // @include row;
        height: 60px;
        // outline: 1px solid red;

        &:last-child {
            // border-bottom: 1px solid $alto;
        }
    }

        .sources__col--source {
            @include span-columns(4);
            height: inherit;
        }
        
        .sources__col--status {
            @include span-columns(5);
            height: inherit;
        }

        .sources__col--action {
            @include span-columns(3);
            height: inherit;
            text-align: center;
        }




// .form-section {
//     &.-format {
//         // margin-bottom: 24px;
//     }
// }

.prevent-fout {
    visibility: hidden;
}

.-hide-section {
    display: none;
}






// unused styling for select
.select {
	position: absolute;
	top: 290px;
	left: 200px;
	width: 150px;
	height: 30px;	
	@include linear-gradient( to top, rgba($black, .06) 0%, rgba($white, 1) 100% );
	border-radius: $form-field__border-radius;
	border-width: 1px 0;
	border-style: solid;
	border-color: $alto $dusty-gray $dusty-gray;

	box-shadow: 
		inset -2px 0px 0px $white, 
		inset 0px 1px 0px $white,
		0px 5px 3px -3px rgba($black, .2)
		;
	
	&:before,
	&:after {
		content: "";
		display: block;
		position: absolute;
		top: 1px;
		bottom: 1px;
		width: 1px;
		@include linear-gradient( to top, $dusty-gray 0%, $alto 100% );
	}
	&:after {
		right: 0;
	}
}


// TODO: needs attention
// bugs caused from this - 
.form-section {
	height: auto;
	overflow: hidden;
	opacity: 1;
	@include transition( height 0s 0s, opacity 0.7s );
	
	&.is-hidden {
		height: 0;
		opacity: 0;
	}


	// add extra mb to last row
	&.-team-access-settings,
	&.-team-invite-people {
		.row:nth-last-child(2) {
			// margin-bottom: 24px;
		}
	}
}

// TODO: resolve bug
// symptoms: create team page in Chrome, when the user clicks the create team button to hide
// the team options, the team settings sections does not hide correctly and the submit button 
// is overlaid until the css transition completes and then the team section hides - somwething 
// to do with the submit button section overlaying the team settings section and preventing the 
// styles taking effect correctly (height: 0 and opacity: 0)
// The tests below sets a custom transition on the submit section which should delay the opacity 
// change on the submit section for 2s to delay it until the team settings section has compelteed its
// own transition but all taht happens is the team settings section is not hidden until the submit 
// tarnsition compeltes (after 2s) 
// .form-section.-submit {
// 	outline: 1px solid red;
// 	@include transition( height 0s, opacity 0.7s 2s );
// }


.invite-people-row-container {
	margin-bottom: 40px;

	&:last-child {
		margin-bottom: 0;
	}
}
