/*------------------------------------*\
    #base
\*------------------------------------*/

* {
    -webkit-font-smoothing: antialiased;
}

html {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1em;
    line-height: $base-line-height / $base-font-size;
}

body, html {
    width: 100%;
    height: 100%;
}

body {
    overflow: hidden;
}

// resets for web apps (selected from https://github.com/suitcss/base)
ol,
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
figure,
p,
hr,
pre {
    margin: 0;
}

button {
    background: transparent;
    border: 0;
    padding: 0;
}

// grey horizontal line - used in setup forms
hr {
    border: none;
    border-bottom: 1px solid $alto;
    margin-bottom: 24px;
}

label {
    cursor: pointer;
}
