/*------------------------------------*\
    #custom
\*------------------------------------*/

.process__text-pos {
    text-align: center;
    line-height: 1.2;
}

// the 'or' text inside disc with border
.or {
    position: relative;
    width: 40px;
    height: 40px;
    border: 2px solid $dusty-gray;
    border-radius: 100%;
    text-align: center;
    line-height: 36px;
    margin: 0 auto;

    &.-center {
        margin: 0 30px;
        // @extend %scut-center-transform-y;
    }
}



// form setup
.speech-bubble {
    position: relative;
    width: 280px;
    // height: 100px;
    // text-align: center;
    // line-height: 100px;
    margin: 0 auto 40px;
    padding: 18px 20px 26px;
    background-color: $gallery;
    border: 8px solid $alto;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba($black, .15);

    &:before,
    &:after,
    {
        content: "";
        position: absolute;
        left: 50%;
        bottom: 0;
        width: 0;
        height: 0;
        @include transform( translateX( -50% ) translateY( 100% ) );
    }

    &:before {
        border: 34px solid;
        border-color: $alto transparent transparent;
    }

    &:after {
        border: 22px solid;
        border-color: $gallery transparent transparent;         
    }
}


// form add sources 
.sources__container {
    margin: 25px 0;
}

    .sources__row {
        // @include row;
        height: 60px;
        // outline: 1px solid red;

        &:last-child {
            // border-bottom: 1px solid $alto;
        }
    }

        .sources__col--source {
            @include span-columns(4);
            height: inherit;
        }
        
        .sources__col--status {
            @include span-columns(5);
            height: inherit;
        }

        .sources__col--action {
            @include span-columns(3);
            height: inherit;
        }


.row {
    @include row;

    // the header row in setup forms
    &.-grid-header {
        height: 26px;
    }

    // the header row in setup forms
    &.-form {
        height: $form-el__height--row;
        margin-bottom: 10px;
    }

}



@mixin make-col-class($size, $span-columns) {
    .#{$size}-#{$span-columns} {
        @include span-columns($span-columns);
    }
}

// @include make-col-class(large, 2);
// @include make-col-class(large, 4);
// @include make-col-class(large, 6);
// @include make-col-class(large, 8);
// @include make-col-class(large, 12);

@for $i from 1 through 12 {
    @include make-col-class(large, $i);
}


// grey horizontal line - used in setup forms
.hr__line {
    border: none;
    border-bottom: 1px solid $alto;
    margin-top: 0;
    margin-bottom: 30px;
}



// currently only used for setup form buttons
// TODO: refactor this
.layout__item {
    display: inline-block;
    // padding-left: 24px;
    vertical-align: top;
    width: 100%;

    &.-btn-lozenge-large,
    &.-or {
        width: auto;
        vertical-align: middle;
    }

}


// .form-section {
//     &.-format {
//         // margin-bottom: 24px;
//     }
// }

.prevent-fout {
    visibility: hidden;
}

.-hide-section {
    display: none;
}