/*------------------------------------*\
    #custom
\*------------------------------------*/

.process__text-pos {
    text-align: center;
    line-height: 1.2;
}

// the 'or' text inside disc with border
.or {
    position: relative;
    width: 40px;
    height: 40px;
    border: 2px solid $dusty-gray;
    border-radius: 100%;
    text-align: center;
    line-height: 36px;
    margin: 0 auto;

    &.-center {
        margin: 0 30px;
        // @extend %scut-center-transform-y;
    }
}

.row {
    @include row;

    // the header row in setup forms
    &.-grid-header {
        height: 26px;
    }

    // the header row in setup forms
    &.-form {
        height: $form-el__height--row;
        margin-bottom: 10px;
    }

}

// grey horizontal line - used in setup forms
.hr__line {
    border: none;
    border-bottom: 1px solid $alto;
    margin-top: 0;
    margin-bottom: 24px;
}






