/*------------------------------------*\
    #custom
\*------------------------------------*/

.process__text-pos {
    text-align: center;
    line-height: 1.2;
}

// the 'or' text inside disc with border
.or {
    position: relative;
    width: 40px;
    height: 40px;
    border: 2px solid $dusty-gray;
    border-radius: 100%;
    text-align: center;
    line-height: 36px;
    margin: 0 auto;

    &.-center {
        margin: 0 30px;
        // @extend %scut-center-transform-y;
    }
}



// form setup
.speech-bubble {
    position: relative;
    width: 280px;
    // height: 100px;
    // text-align: center;
    // line-height: 100px;
    margin: 0 auto 40px;
    padding: 18px 20px 26px;
    background-color: $gallery;
    border: 8px solid $alto;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba($black, .15);

    &:before,
    &:after,
    {
        content: "";
        position: absolute;
        left: 50%;
        bottom: 0;
        width: 0;
        height: 0;
        @include transform( translateX( -50% ) translateY( 100% ) );
    }

    &:before {
        border: 34px solid;
        border-color: $alto transparent transparent;
    }

    &:after {
        border: 22px solid;
        border-color: $gallery transparent transparent;         
    }
}




.row {
    @include row;

    // the header row in setup forms
    &.-grid-header {
        height: 26px;
    }

    // the header row in setup forms
    &.-form {
        height: $form-el__height--row;
        margin-bottom: 10px;
    }

}



@mixin make-col-class($size, $span-columns) {
    .#{$size}-#{$span-columns} {
        @include span-columns($span-columns);
    }
}

// @include make-col-class(large, 2);
// @include make-col-class(large, 4);
// @include make-col-class(large, 6);
// @include make-col-class(large, 8);
// @include make-col-class(large, 12);

@for $i from 1 through 12 {
    @include make-col-class(large, $i);
}


// grey horizontal line - used in setup forms
.hr__line {
    border: none;
    border-bottom: 1px solid $alto;
    margin-top: 0;
    margin-bottom: 30px;
}



// currently only used for setup form buttons
// TODO: refactor this
.layout__item {
    display: inline-block;
    // padding-left: 24px;
    vertical-align: top;
    // width: 100%;

    &.-btn-lozenge-large,
    &.-or {
        width: auto;
        vertical-align: middle;
    }

}



// initiate table wrap around daily digest file table as display:none
// the first jquery toggle will open instead of close  
.daily-digest-table-wrap {
    display: none;
}

.daily-digest-wrap {
    margin: 0;
    padding: 23px 14px;
}

.daily-digest {
    position: relative;
    background: white;
    border-bottom-left-radius: $priority-box__border-radius;
    border-bottom-right-radius: $priority-box__border-radius;
    padding: 18px;
}




.centered-block {
    display: none;
    z-index: 9999999;
    position: absolute;
    top: 50%;
    left: 50%;
    @include scut-center-transform;

}

.loading-screen-data {
    // display: none;
    z-index: 9999999;
    position: absolute;
    width: 150px;
    background: rgba($white, 0.95);
    // background: $white;
    padding: 25px 0 20px;
    text-align: center;
    border: 1px solid $alto;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba($black, .3);
    @include transition( opacity .15s, visibility 0 0 );

    &.is-hidden {
        opacity: 0;
        visibility: hidden;
        @include transition( opacity .15s, visibility 0 .15s );
    }
}



// demo only classes
// these are needed for the demo only - 
// they shouldnt make it into the app!
// TODO: save to module 
.demo-only {

    &.-actions-header-current-item__contents-wrap {
        // inhert height so that .media.-v-center works correctly
        // as this module needs to inherit the height of its parent
        height: inherit;
    }

    // wrapper around content inside modal box 
    &.-modal-box__content-wrap {
        display: none;
    }
}


.now-summary {
    padding-bottom: 10px;
    border-bottom: 1px solid $alto;
}


.spacer {
    height: 20px;

    &.-xxxlarge {
        height: 300px;
    }
}



// unlikely that this will stay - cant currently think 
// of a better way to create modular custom fixed width
// containers when needed  
.layout {
    &.-w-310 {
        width: 310px;
    }
}



