/*------------------------------------*\
    #SHAME
\*------------------------------------*/


// temp buttons
.tmp-buttons {
    z-index: 9999;
    position: fixed;
    top: -1px;
    right: 2px;

    // &.-files {
    //     top: 28px;
    // }
    
    .button-group {
        position: relative;
        float: right;
        margin-right: 5px;
        padding-right: 5px;

        &:after {
            content: "";
            position: absolute;
            right: 0;
            width: 1px;
            height: 100%;
            background: $silver;
        }

        &.is-hidden {
            display: none !important;
        }
    }

    .button {
        float: left;
        margin: 0 2px;
        border: 1px solid gray;
        padding: 1px 3px;
        background: $alto;
        outline: none;
        font-size: 9px;
        cursor: pointer;
        &:active {
            background: $silver;
        }
    }
}


.thumbnail {
    height: 99px;
    margin-bottom: 10px; 
    background-image: url("../img/tmp-thumbnail-preview.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;

}