/*------------------------------------*\
    #SHAME
\*------------------------------------*/

// // debug - show labels for current MQ breakpoint on the screen
// body:before {
//    position:fixed;
//    bottom:2px;
//    left:2px;
//    color:black;
//    z-index:9999;
//    background:rgba(255,255,255,0.75);
//    content:"small";
//    @include mq(medium) { content:"medium"; }
//    @include mq(large) { content:"large"; }
// }
// body:after {
//    position:fixed;
//    bottom:20px;
//    left: 2px;
//    color:black;
//    z-index:99999;
//    background:rgba(255,255,255,0.75);
//    @include mq(medium-and-up) { content:"medium-and-up"; }
//    @include mq(large-and-up) { content:"large-and-up"; }
// }





// .thumbnail {
//     height: 99px;
//     margin-bottom: 10px; 
//     background-image: url("../img/tmp-thumbnail-preview.png");
//     background-repeat: no-repeat;
//     background-position: 50% 50%;
//     background-size: contain;

// }




// // harry roberts css for review
// // re-usable nav
// .nav {
//     list-style: none;
//     margin-left: 0;

//     & > li,
//     & > li > a {
//         display: inline-block;
//     }
// }

// // island object
// // http://csswizardry.com/2011/10/the-island-object/
// .island {
//     padding: 20px;
//     margin-bottom: 20px;
// }

// .island > :last-child {
//     margin-bottom: 0;
//     // Remove the margin from the last child of a boxed off area so that we don’t end up with compounded margin/padding spacings.
// }

// .content {
//     width: 460px;
//     float: left;
//     background-color: #fff;
// }

// .sub-content {
//     width: 160px;
//     float: left;
//     background-color: #333;
//     color: #fff;
// }

// .promo {
//     border: 1px solid #ff8;
//     background-color: #ffc;
//     color: #333;
// }

// .twitter {
//     color: #fff;
//     background-color: #00a0d1;
// }
