/*------------------------------------*\
    #UTILITIES - prefixed with "u-"
\*------------------------------------*/

// NOTE: due to element’s appearance not staying 
// constant (RWD), utility class are used sparingly 
// - most styles are component-based (modules)
// Ref: http://davidtheclark.com/on-utility-classes/

.u-center-transform {
    @include scut-center-transform;
}

.u-center-transform-x {
    @include scut-center-transform(x);
}

.u-center-transform-y {
    @include scut-center-transform(y);
}


.u-center-block {
	@include scut-center-block;
}

.u-full-width {
	width: 100%;
}

.u-inherit-height {
	height: inherit;
}

.u-display-none {
	display: none;
}

// .u-align-right {
// 	height: inherit;
// }

